{% extends "accounting/bootstrapbase.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="jumbotron">
<form method="get">
        <div class="well">
                <h4>Filter</h4>
                <div class="row">
                    <div class="form-group col-md-6">
                        {{ filter_bk.form.event.label_tag }}
                        {% render_field filter_bk.form.event class="form-control" %}
                    </div>
                    <div class="form-group col-3">
                        {{ filter_bk.form.event__cat.label_tag }}
                        {% render_field filter_bk.form.event__cat class="form-control" %}
                    </div>
                    <div class="form-group col-md-3">
                        {{ filter_bk.form.category.label_tag }}
                        {% render_field filter_bk.form.category class="form-control" %}
                    </div>

                    <div class="form-group col-md-4">
                        {{ filter_bk.form.methode.label_tag }}
                        {% render_field filter_bk.form.methode class="form-control" %}
                    </div>
                    <div class="form-group col-sm-4">
                        {{ filter_bk.form.status.label_tag }}
                        {% render_field filter_bk.form.status class="form-control" %}
                    </div>
                    <div class="form-group col-sm-4">
                        {{ filter_bk.form.abo.label_tag }}
                        {% render_field filter_bk.form.abo class="form-control" %}
                    </div>
                    <div class="form-group col-4">
                        {{ filter_bk.form.pay_date.label_tag }}
                        {% render_field filter_bk.form.pay_date class="form-control" %}
                    </div>
                    <div class="form-group col-4">
                        {{ filter_bk.form.event__datestart.label_tag }}
                        {% render_field filter_bk.form.event__datestart class="form-control" %}
                    </div>
                </div>
        </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>
</div>
<h4>Accounting</h4>
<table class="table table-bordered" id="theTable">
        <thead>
                <tr>
                        <th>Category</th>
                        <th>Event</th>
                        <th>Name</th>
                        <th>Pay Date</th>
                        <th>Pay Till</th>
                        <th>Status</th>
                        <th>Amount</th>
        </thead>
        <tfoot>
            <tr>
                <th align="center">Total</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th align="left"></th>
            </tr>
        </tfoot>
        <tbody>
            {% for acc in filter.qs %}
            <tr>
                    <td>{{acc.get_category_display}}</td>
                    <td>{{acc.event}}</td>
                    <td></td>
                    <td>{{acc.pay_date}}</td>
                    <td>{{acc.pay_till}}</td>
                    <td>{{acc.get_status_display}}</td>
                    <td>{{acc.amount}}</td>
            </tr>
            {% endfor%}
            {% for bk in filter_bk.qs %}
            <tr>
                    <td>{{bk.get_category_display}}</td>
                    <td>{{bk.event}}</td>
                    <td>{{bk.name}}</td>
                    <td>{{bk.pay_date}}</td>
                    <td>{{bk.pay_till}}</td>
                    <td>{{bk.get_status_display}}</td>
                    <td>{{bk.amount}}</td>
            </tr>
            {% endfor %}
        </tbody>
</table>
{% endblock %}