{% extends 'base.html' %}
{% block contentevent %}
{% load static %}
    <div class="single-portfolio">
        {% include 'snippets/nav.html' %}
        <article id="portfolio-2" class=" section portfolio">
            <div class="center-relative content-1170">
                <div class="entry-content">
                    <div class="content-wrap relative">
                        <a class="absolute x-close" href="/">
                                <img src="{% static 'home/images/icon_x.svg' %}" alt="Close">
                        </a>
                        <script>
                            var aboutImage_speed = "500";
                            var aboutImage_auto = "false";
                            var aboutImage_hover = "true";
                        </script>
                        <div class="image-slider-wrapper relative img aboutImage">
                            <a id="aboutImage_next" class="image_slider_next" href="#"></a>
                            <div class="caroufredsel_wrapper">
                                <ul id="aboutImage" class="image-slider slides">
                                    <li><img src="{% static 'home/demo-images/about_img_04.jpg' %}" alt=""></li>
                                    <li><img src="{% static 'home/demo-images/about_img_05.jpg' %}" alt=""></li>
                                    <li><img src="{% static 'home/demo-images/about_img_06.jpg' %}" alt=""></li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                        <br>
                        <br>
                        <br>
                        <div class="one_half text-right">
                            <p>
                                <span style="color: #adadad;">Cycle:</span> 6 - Pops and Bla<br>
                                <span style="color: #adadad;">Start:</span> 18 of March<br>
                                <span style="color: #adadad;">Duration:</span> 4 Classes
                            </p>
                            <br>
                            <br>
                            <div class="text-right">
                                <a href="#" target="_self" class="button ">Register</a>
                            </div>
                        </div>
                        <div class="one_half last ">
                            <h1>Handmade for Everyone</h1>
                            <p>We choose to go to the moon in this decade and do the other things, not because they are easy.</p>
                            <br>
                            <p>
                                Because they are hard, because that goal will serve to organize and measure the best of our energies and skills, because that challenge is one that we are willing to accept, one we are unwilling to postpone and one.<br>
                            </p>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            {% include 'footer.html' %}
        </article>
    </div>
        {% endblock %}
