{% extends 'base.html' %}
{% load static %}
{% block content %}
        {% include 'snippets/nav.html' %}
        {% include 'preload.html' %}

        <!-- Home -->
        <div id="home" class="section intro-page">
            <div class="block content-1170 center-relative center-text">
                    <img class="top-logo" src="{% static 'home/demo-images/logo.png' %}" alt="Boxus" />
                <br>
                <h1 class="big-title">Be the Monkey you want...<span> we are Lamas.</span></h1>
                <p class="title-desc">Flying Lamas.</p>
            </div>
        </div>
        {% include 'news.html' %}
        {% include 'video.html' %}
        {#{% include 'services.html' %}#}
        {% include 'portfolio.html' %}
        {#{% include 'about.html' %}#}
        {# {% include 'skills.html' %}#}
        {% include 'contact.html' %}
        {% include 'footer.html' %}
{% endblock %}
