{% load static %}
<!-- News -->
        <div id="next" class="section">
            <div class="block content-1170 center-relative">
                <div class="section-title-holder right">
                    <div class="section-num">
                        <span>
                            01
                        </span>
                    </div>
                    <h2 class="entry-title">NEXT</h2>
                </div>
                <div class="section-content-holder left green">
                    <div class="content-wrapper">
                        <div class="blog-holder block center-relative">
                            <article class="relative blog-item-holder center-relative">
                                <div class="num">
                                    <i class="fas fa-redo"></i>
                                </div>
                                <div class="info">
                                    <div class="author vcard "><a href="#">MasterClass - Zürich</a></div>
                                    <div class="cat-links">
                                        <ul>
                                            <li><a href="#">28 February</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <h3 class="entry-title">
                                    <a href="#">Intermediate Pops</a>
                                </h3>
                                <div class="clear"></div>
                            </article>
                            <article class="relative blog-item-holder center-relative">
                                <div class="num">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="info">
                                        <div class="author vcard "><a href="#">Winter Acro Fest - Lenk</a></div>
                                    <div class="cat-links">
                                        <ul>
                                            <li><a href="#">8 - 11 March</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <h3 class="entry-title">
                                    <a href="#">Acro Festi in der Lenk!</a>
                                </h3>
                                <div class="clear"></div>
                            </article>
                            <article class="relative blog-item-holder center-relative">
                                <div class="num">
                                    <i class="fas fa-cogs"></i>
                                </div>
                                <div class="info">
                                        <div class="author vcard "><a href="#">Cycle 4 - Bern</a></div>
                                    <div class="cat-links">
                                        <ul>
                                            <li><a href="#">Tue (1 - 22 March)</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <h3 class="entry-title">
                                    <a href="#">Washing Machines with uncommon positions</a>
                                </h3>
                                <div class="clear"></div>
                            </article>
                            <article class="relative blog-item-holder center-relative">
                                <div class="num">
                                    <i class="fas fa-cogs"></i>
                                </div>
                                <div class="info">
                                        <div class="author vcard "><a href="#">Cycle 6 - Zürich</a></div>
                                    <div class="cat-links">
                                        <ul>
                                            <li><a href="#"> Wed (14 March - 4 April) </a></li>
                                        </ul>
                                    </div>
                                </div>
                                <h3 class="entry-title">
                                    <a href="#">Whips and Drills</a>
                                </h3>
                                <div class="clear"></div>
                            </article>
                            <article class="relative blog-item-holder center-relative">
                                <div class="num">
                                    <i class="fas fa-cogs"></i>
                                </div>
                                <div class="info">
                                        <div class="author vcard "><a href="#">Cycle 6 - Zürich</a></div>
                                    <div class="cat-links">
                                        <ul>
                                            <li><a href="#">Wed (14 March - 4 April)</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <h3 class="entry-title">
                                    <a href="#">Whips and Drills</a>
                                </h3>
                                <div class="clear"></div>
                            </article>
                            <div class="latest-post-bottom-text">
                                <a href="#">CALENDAR</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="block content-1170 center-relative">
                <div class="extra-content-left">
                    <script>
                        var text1_speed = "500";
                        var text1_auto = "false";
                        var text1_hover = "true";
                    </script>
                    <div class="text1 testimonial-slider-holder slider-holder">
                        <div class="caroufredsel_wrapper">
                            <ul id="text1" class="slides testimonial">
                                <li>
                                    <div class="testimonial-content">
                                        <p class="testimonial-text">The goal is not to be better than the other man, but your previous self.</p>
                                        <p class="testimonial-author">DALAI LAMA</p>
                                    </div>
                                    <div class="clear"></div>
                                </li>
                                <li>
                                    <div class="testimonial-content">
                                        <p class="testimonial-text">Apropos 'Not my Circus, not my Monkey', we don't want Monkeys in the Circus.</p>
                                        <p class="testimonial-author">SOME OTHER LAMA</p>
                                    </div>
                                    <div class="clear"></div>
                                </li>
                                <li style="width: 500px;">
                                    <div class="testimonial-content">
                                            <p class="testimonial-text"> The more you practise, the luckier you get.</p>
                                        <p class="testimonial-author">SOMEONE TRYING TO BE FUNNY</p>
                                    </div>
                                    <div class="clear"></div>
                                </li>
                                <li>
                                    <div class="testimonial-content">
                                        <p class="testimonial-text">Damn everything but the circus.</p>
                                        <p class="testimonial-author">CORITA KENT</p>
                                    </div>
                                    <div class="clear"></div>
                                </li>
                            </ul>
                        </div>
                        <a id="text1_next" class="carousel_text_next" href="#"></a>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
