{% extends "account/base.html" %}
{% load i18n %}
{% load account %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block content %}
<div class="account">
    <article id="account" class="section account">
        <div class="center-relative content-1170">
            <div class="entry-content">
                <div class="content-wrapper relative">
                    <div class="one text-left">
                        <h1>{% trans "Sign In" %}</h1>
                        <form class="login" method="POST" action="{% url 'account_login' %}">
                            {% csrf_token %}
                            <label for="id_login">E-mail:</label>
                            <input type="email" name="login" placeholder="E-mail address" autofocus="autofocus" required id="id_login">
                            <p>{% blocktrans %}Don't have an account?<a href="{{ signup_url }}"> Sign up</a>.{% endblocktrans %}</p>
                            <label for="id_password">Password:</label>
                            <input type="password" name="password" placeholder="Password" required id="id_password">
                            <p>Forgot your password?<a href="{% url 'account_reset_password' %}"> Recover Password</a>.</p>
                          {% if redirect_field_value %}
                          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                          {% endif %}
                          <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>
{% endblock %}
