{% extends "account/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block content %}

<div class="account">
    <article id="account" class="section account">
        <div class="center-relative content-1170">
            <div class="entry-content">
                <div class="content-wrapper relative">
                    <div class="one text-left">
                      <h1>{% trans "Change Password" %}</h1>
                        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" name="action">{% trans "Change Password" %}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>
{% endblock %}
