{% load static %}{% load tinycontent_tags %}{% load cache %}
<!-- About -->{% cache 43200 home_about %}
<div id="about" class="section">
    <div class="block content-1170 center-relative">
        <div class="section-title-holder left green">
            <div class="section-num green">
                <span>
                    <i class="fas fa-flask"></i>
                </span>
            </div>
            <h2 class="entry-title">ABOUT US</h2>
        </div>
        <div class="section-content-holder right">
            <div class="content-wrapper">
                <div class="content-title-holder">
                    <p class="content-title">LAMAS</p>
                </div>
                <div class="one_half ">
                    {% tinycontent_simple 'about_description' %}
                </div>
                <div class="one_half last ">
                    {% for obj in about_date %}
                    <span style="color: #e54b76;">
                        <strong>
                            {{obj.yearstart}}
                            {% if obj.end %}
                            - {{obj.yearend}}
                            {% endif %}
                        </strong>
                    </span>
                    <span style="color:#727190;">
                        <em>{{ obj.description }}</em>
                    </span>
                    <br>
                    {% endfor %}
                </div>
                <div class="clear"></div>
            </div>
            <div class="full-width">
                <div class="relative">
                    <div class="about-slider">
                        {% for obj in about_image %}
                        <div>
                            <img class="lazyload" data-src="{{ obj.image.thumbnail.url }}" alt="{{ obj.image.description }}">
                        </div>
                        {% endfor%}
                    </div>
                    <div class="clear"></div>
                </div>
                <!-- About Member -->
                <div class="relative">
                    <div class="team-slider">
                        {% for obj in about_content %}
                        <div>
                            <div class="member-content-holder">
                                <h4 class="member-name">{{ obj.team.first_name }}</h4>
                                <p class="member-position">{{ obj.team.title}}</p>
                                <div class="member-content">{{ obj.team.long_description|safe }}<br></div>
                            </div>
                            <div class="member-image-holder">
                                <picture>
                                    <source media="(max-width: 375px)" data-srcset="{{ obj.team.avatar.thumbnail.url }}">
                                    <source media="(max-width: 650px)" data-srcset="{{ obj.team.avatar.image.url }}">
                                    <source media="(max-width: 740px)" data-srcset="{{ obj.team.avatar.thumbnail.url }}">
                                    <source media="(min-width: 740px)" data-srcset="{{ obj.team.avatar.image.url }}">
                                    <source media="(min-width: 1020px)" data-srcset="{{ obj.team.avatar.thumbnail.url }}">
                                    <img data-expand="auto" class="lazyload" data-src="{{ obj.team.avatar.image.url }}" alt="{{ obj.team.short_description }}">
                                </picture>
                            </div>
                            <div class="clear"></div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="clear"></div>
            </div>   <!-- end full-width div -->
        </div>
        <div class="clear"></div>
    </div>
</div>{% endcache %}
