{% extends 'base.html' %}
{% block contentclasses %}
{% load static %}
{% include 'snippets/nav.html' %}
<!-- Classes -->
        <div id="next" class="section">
            <div class="block content-1170 center-relative">
                <div class="section-title-holder right">
                    <div class="section-num">
                        <span>
                                <i class="fas fa-hourglass-half"></i>
                        </span>
                    </div>
                    <h2 class="entry-title">CLASSES</h2>
                </div>
                <div class="section-content-holder left green">
                    <div class="content-wrapper">
                        <div class="blog-holder block center-relative">
                            {% for object in list %}
                            <article class="blog-item-holder relative">
                                <div class="num">
                                        <i class="{{object.cat}}"></i>
                                </div>
                                <div class="info">
										<div class="author vcard "><a href="/classes/{{object.slug}}/">{{object.get_level_display}} {{object.get_cat_display}} - {{object.city}}</a></div>
                                    <div class="cat-links">
                                        <ul>
                                                <li><a href="/classes/{{object.slug}}/">{{object.get_datestart}}{{object.get_dateend}} | {{object.get_ocurrance_display|default_if_none:""}}</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <h3 class="entry-title">
                                        <a href="/classes/{{object.slug}}/">{{object.title}}</a>
                                </h3>
                                <div class="clear"></div>
                            </article>
                            {% endfor %}
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
{% include 'footer.html' %}
{% endblock %}
