{% load static %}{% load icon_tags %}{% load cache %}
<!-- News -->
<div id="classes" class="section">{% cache 500 classes %}
    <div class="block content-1170 center-relative">
        <div class="section-title-holder right pink">
            <div class="section-num pink">
                <span>
                    <i class="fas fa-rocket"></i>
                </span>
            </div>
            <h2 class="entry-title">Classes</h2>
        </div>
        <div class="section-content-holder left pink">
            <div class="content-wrapper">
                <div class="content-title-holder">
                    <p class="content-title">CYCLE</p>
                </div>
                <div class="one"
                    <p>In order to balance progress and compromise our Classes are wrapped into Cycles. Each cycle has a topic to deepen into for 4 weeks. <b>Drop ins are possible</b> and a good oportunity to test which level and teacher fits you best.</p>
                </div>
                <div class="one_half">
                    <h6>Level: </h6>
                    <p>We want you to feel comfortable but with the <b>right amount of challenge</b>. Cycles are split in 4 levels. You can always swap levels as long as you meet the prerequisites.</p>
                </div>
                <div class="one_half last">
                    <h6>Partner: </h6>
                    <p>In General only advanced acrobatic classes require you to come with a partner. <b>We keep classes balanced on each roll</b> so you always have someone to train with.</p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="content-wrapper">
                <div class="blog-holder block center-relative">
                    <!-- KEY -->
                    {% for key, objs in current.items %}
                        {% if objs %}
                            <h3>{{ key }}</h3>
                                {% for obj in objs %}
                            <article class="blog-item-holder relative">
                                <div class ="num-inf">
                                    <div class="infos">
                                        <div class="author vcard ">
                                            <a href="{{ obj.get_absolute_url }}">
                                                {{ obj.discipline.name }} {{ obj.level.get_name_display|upper }}
                                                {% for ad in obj.time_locations.all %}
                                                    {% ifchanged %} - {{ad.location.address.city }} {% endifchanged %}
                                                {% endfor %}
                                            </a>
                                        </div>
                                        <div class="cat-links green">
                                            <ul>
                                                <li>
                                                    <a href="{{ obj.get_absolute_url }}">
                                                        {{ obj.event_startdate|date:"d M." }}
                                                        {% if obj.event_enddate != obj.event_startdate %}
                                                        - {{ obj.event_enddate|date:"d M. Y" }}
                                                        {% endif %}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="entry-title">
                                    <a href="{{ obj.get_absolute_url }}">{{ obj.fulltitle}}</a>
                                </h3>
                                <div class="clear"></div>
                            </article>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>{% endcache %}
<div id="classes" class="section">{% cache 86400 next %}
    <div class="block content-1170 center-relative">
        <div class="section-title-holder left green">
            <div class="section-num green">
                <span>
                    <i class="fas fa-hourglass-half"></i>
                </span>
            </div>
            <h2 class="entry-title">NEXT</h2>
        </div>
        <div class="section-content-holder right green">
            <div class="content-wrapper">
                <div class="blog-holder block center-relative">
                    {% for obj in next %}
                    <article class="blog-item-holder relative">
                        <div class ="num-inf">
                            <div class="infos">
                                <div class="author vcard ">
                                    <a href="{{ obj.get_absolute_url }}">
                                        {{ obj.discipline.name }} {{ obj.level.get_name_display|upper }}
                                        {% for ad in obj.time_locations.all %}
                                            {% ifchanged %} - {{ad.location.address.city }} {% endifchanged %}
                                        {% endfor %}
                                    </a>
                                </div>
                                <div class="cat-links">
                                    <ul>
                                        <li><a href="{{ obj.get_absolute_url }}">
                                                {{ obj.event_startdate|date:"d M." }} {% if object.event_enddate != object.event_startdate %}- {{ object.event_enddate|date:"d M. Y" }} {% endif %}
                                            </a>
                                        </li>
                                        <li><a href="{{ obj.get_absolute_url }}">
                                            {% for obj in obj.time_locations.all %}
                                                {% ifchanged %}
                                                    {% if obj.time_option.regular_day %}
                                                        {{ obj.time_option.get_regular_day_display}}'S 
                                                    {% endif %}
                                                {% endifchanged%}
                                            {% endfor %}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <h3 class="entry-title">
                            <a href="{{ obj.get_absolute_url }}">{{ obj.fulltitle}}</a>
                        </h3>
                        <div class="clear"></div>
                    </article>
                    {% endfor %}
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <!-- CAROUSEL -->{% cache 604800 testimonial %}
    <div class="block content-1170 center-relative">
        <div class="extra-half-content-left">
            <div class="news-slider">
                {% for obj in testimonial %}
                    <div class="testimonial-content">
                        <p class="testimonial-text">
                        <span>{{obj.text}}</span>
                        </p>
                        <p class="testimonial-author">
                        <span>{{obj.author}}</span>
                        </p>
                    </div>
                {% endfor %}
            </div>
            <div class="clear"></div>
            <a id="text1_next" class="carousel_text_next right" style="" href="#"></a>
        </div>
        <div class="clear"></div>
    </div>{% endcache %}
    <div class="clear"></div>
</div>
