{% load static %}
{% load icon_tags %}
<!-- News -->
<div id="classes" class="section">
    <div class="block content-1170 center-relative">
        <div class="section-title-holder right pink">
            <div class="section-num pink">
                <span>
                    <i class="fas fa-magic"></i>
                </span>
            </div>
            <h2 class="entry-title">INTRO</h2>
        </div>
        <div class="section-content-holder left pink">
            <div class="content-wrapper">
                <div class="blog-holder block center-relative">
                    {% for obj in intro %}
                    <article class="blog-item-holder relative">
                        <div class ="num-inf">
                            <!-- <div class="num green"> -->
                            <!--         <i class="{{ obj.category|get_icon }}"></i> -->
                            <!-- </div> -->
                            <div class="infos">
                                <div class="author vcard ">
                                    <a href="{{ obj.get_absolute_url }}">
                                        {{ obj.discipline.name }} {{ obj.level.get_name_display }}
                                        {% for ad in obj.time_locations.all %}
                                            {% ifchanged %} - {{ad.location.address.city }} {% endifchanged %}
                                        {% endfor %}
                                    </a>
                                </div>
                                <div class="cat-links green">
                                    <ul>
                                        <li>
                                            <a href="{{ obj.get_absolute_url }}">
                                                {{ obj.event_startdate|date:"d M" }}
                                                {% if obj.event_enddate != obj.event_startdate %}
                                                - {{ obj.event_enddate|date:"d M Y" }}
                                                {% endif %}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="cat-links green">
                                    <ul>
                                        <li>
                                            <a href="{{ obj.get_absolute_url }}">
                                                {% for to in obj.time_locations.all %}
                                                    {% for rd in to.time_options.all %}
                                                        {% ifchanged %}
                                                            {% if rd.regular_days != Null %}
                                                            {{ rd.regular_days|default_if_none:"" }}'S {%if rd.regular_days.count == 1 %}·{% endif %}
                                                            {% endif %}
                                                        {% endifchanged%}
                                                    {% endfor %}
                                                {% endfor %}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <h3 class="entry-title">
                            <a href="{{ obj.get_absolute_url }}">{{ obj.fulltitle}}</a>
                        </h3>
                        <div class="clear"></div>
                    </article>
                    {% endfor %}
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div id="classes" class="section">
    <div class="block content-1170 center-relative">
        <div class="section-title-holder left green">
            <div class="section-num green">
                <span>
                    <i class="fas fa-flask"></i>
                </span>
            </div>
            <h2 class="entry-title">INTERMEDIATE</h2>
        </div>
        <div class="section-content-holder right green">
            <div class="content-wrapper">
                <div class="blog-holder block center-relative">
                    {% for obj in intermediate %}
                    <article class="blog-item-holder relative">
                        <div class ="num-inf">
                            <!-- <div class="num"> -->
                            <!--         <i class="{{ obj.category|get_icon }}"></i> -->
                            <!-- </div> -->
                            <div class="infos">
                                <div class="author vcard ">
                                    <a href="{{ obj.get_absolute_url }}">
                                        {{ obj.discipline.name }} {{ obj.level.get_name_display }}
                                        {% for ad in obj.time_locations.all %}
                                            {% ifchanged %} - {{ad.location.address.city }} {% endifchanged %}
                                        {% endfor %}
                                    </a>
                                </div>
                                <div class="cat-links">
                                    <ul>
                                        <li>
                                            <a href="{{ obj.get_absolute_url }}">
                                                {{ obj.event_startdate|date:"d M" }}
                                                {% if obj.event_enddate != obj.event_startdate %}
                                                - {{ obj.event_enddate|date:"d M Y" }}
                                                {% endif %}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="cat-links">
                                    <ul>
                                        <li>
                                            <a href="{{ obj.get_absolute_url }}">
                                                {% for to in obj.time_locations.all %}
                                                    {% for rd in to.time_options.all %}
                                                        {% ifchanged %}
                                                            {% if rd.regular_days != Null %}
                                                            {{ rd.regular_days|default_if_none:"" }}'S {%if rd.regular_days.count == 1 %}·{% endif %}
                                                            {% endif %}
                                                        {% endifchanged%}
                                                    {% endfor %}
                                                {% endfor %}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <h3 class="entry-title">
                            <a href="{{ obj.get_absolute_url }}">{{ obj.fulltitle}}</a>
                        </h3>
                        <div class="clear"></div>
                    </article>
                    {% endfor %}
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div id="classes" class="section">
    <div class="block content-1170 center-relative">
        <div class="section-title-holder right pink">
            <div class="section-num pink">
                <span>
                    <i class="fas fa-rocket"></i>
                </span>
            </div>
            <h2 class="entry-title">ADVANCED</h2>
        </div>
        <div class="section-content-holder left pink">
            <div class="content-wrapper">
                <div class="blog-holder block center-relative">
                    {% for obj in advanced %}
                    <article class="blog-item-holder relative">
                        <div class="num-inf">
                            <!-- <div class="num green"> -->
                            <!--         <i class="{{ obj.category|get_icon }}"></i> -->
                            <!-- </div> -->
                            <div class="infos">
                                <div class="author vcard ">
                                    <a href="{{ obj.get_absolute_url }}">
                                        {{ obj.discipline.name }} {{ obj.level.get_name_display }}
                                        {% for ad in obj.time_locations.all %}
                                            {% ifchanged %} - {{ad.location.address.city }} {% endifchanged %}
                                        {% endfor %}
                                    </a>
                                </div>
                                <div class="cat-links green">
                                    <ul>
                                        <li>
                                            <a href="{{ obj.get_absolute_url }}">
                                                {{ obj.event_startdate|date:"d M"}}
                                                {% if obj.event_enddate != obj.event_startdate %}
                                                - {{ obj.event_enddate|date:"d M Y" }}
                                                {% endif %}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="cat-links green">
                                    <ul>
                                        <li>
                                            <a href="{{ obj.get_absolute_url }}">
                                                {% for to in obj.time_locations.all %}
                                                    {% for rd in to.time_options.all %}
                                                        {% ifchanged %}
                                                            {% if rd.regular_days != Null %}
                                                            {{ rd.regular_days|default_if_none:"" }}'S {%if rd.regular_days.count == 1 %}·{% endif %}
                                                            {% endif %}
                                                        {% endifchanged%}
                                                    {% endfor %}
                                                {% endfor %}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <h3 class="entry-title">
                            <a href="{{ obj.get_absolute_url }}">{{ obj.fulltitle}}</a>
                        </h3>
                        <div class="clear"></div>
                    </article>
                    {% endfor %}
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <!-- CAROUSEL -->
    <div class="block content-1170 center-relative">
        <div class="extra-content-left">
            <script>
                var text1_speed = "1000";
                var text1_auto = "true";
                var text1_hover = "true";
            </script>
            <div class="text1 testimonial-slider-holder slider-holder">
                <div class="caroufredsel_wrapper">
                    <ul id="text1" class="slides testimonial">
                        {% for obj in testimonial %}
                        <li style='height: 200px;'>
                            <div class="testimonial-content">
                                <p class="testimonial-text">
                                <span>{{obj.text}}</span>
                                </p>
                                <p class="testimonial-author">
                                <span>{{obj.author}}</span>
                                </p>
                            </div>
                            <div class="clear"></div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <a id="text1_next" class="carousel_text_next right" style="" href="#"></a>
                <!--<div class="clear"></div>-->
            </div>
        </div>
    </div>
</div>
