{% load static %}
{% load icon_tags %}
<!-- News -->
<div id="events" class="section">
    <div class="block content-1170 center-relative">
        <div class="section-title-holder left green">
            <div class="section-num green">
                <span>
                    <i class="fas fa-hourglass-half"></i>
                </span>
            </div>
            <h2 class="entry-title">EVENTS</h2>
        </div>
        <div class="section-content-holder right green">
            <div class="content-wrapper">
                <div class="blog-holder block center-relative">
                    {% for obj in event %}
                    <article class="blog-item-holder relative">
                        <div class ="num-inf">
                            <!-- <div class="num"> -->
                            <!--     <i class="{{ obj.category|get_icon }}"></i> -->
                            <!-- </div> -->
                            <div class="infos">
                                <div class="author vcard ">
                                    <a href="{{ obj.get_absolute_url}}">
                                        {{ obj.level.get_name_display|upper|stringformat:".5s" }} {{ obj.get_category_display }} -
                                        {% for ad in obj.time_locations.all %}
                                            {% ifchanged %} {{ad.location.address.city }} {% endifchanged %}
                                        {% endfor %}
                                    </a>
                                </div>
                                <div class="cat-links">
                                    <ul>
                                        <li>
                                            <a href="{{ obj.get_absolute_url}}">
                                                {{ obj.event_startdate|date:"d M"}}
                                                {% if obj.event_enddate != obj.event_startdate %}
                                                - {{ obj.event_enddate|date:"d M Y" }}
                                                {% endif %}
                                                {% for to in obj.time_locations.all %}
                                                {% for rd in to.time_options.all %}
                                                    {% ifchanged %} | {{ rd.regular_days|default_if_none:"" }}{% endifchanged%}
                                                {% endfor %}
                                                {% endfor %}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <h3 class="entry-title">
                            <a href="{{obj.get_absolute_url}}">{{obj.title}}</a>
                        </h3>
                        <div class="clear"></div>
                    </article>
                    {% endfor %}
                    <div class="latest-post-bottom-text">
                        <a href="{% url 'events' %}">EVENTS CALENDAR</a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
