{% extends 'base.html' %}
{% block head_title %}{{block.super}}Acro and Acroyoga Events{% endblock%}
{% block meta_description %}<meta name="description" content="Swiss Acro & Acroyoga team that offers weekly classes, organize Workshops and Training Camps internationally. Hosts of the Winter & Urban Acro Festival Zürich."/>{% endblock %}
{% block content %}
{% load static %}
{% include 'snippets/nav.html' %}
<!-- Events -->
<div id="events" class="section">
    <div class="block content-1170 center-relative">
        <div class="section-title-holder left green">
            <div class="section-num green">
                <span>
                        <i class="fas fa-hourglass-half"></i>
                </span>
            </div>
            <h2 class="entry-title">EVENTS</h2>
        </div>
        <div class="section-content-holder left green">
            <div class="content-wrapper">
                <div class="blog-holder block center-relative">
                            {% for object in list %}
                            <article class="blog-item-holder relative">
                                <div class="num">
                                        <i class="{{ object.category }}"></i>
                                </div>
                                <div class="info">
                                    <div class="author vcard ">
                                        <a href="/events/{{object.slug}}/">
                                             {{ object.discipline }} {{ object.level.get_name_display }} {{ object.get_category_display }} -
                                            {% for ad in object.time_locations.all %}
                                                {% ifchanged %} {{ad.location.name }} {% endifchanged %}
                                            {% endfor %}
                                        </a>
                                    </div>
                                    <div class="cat-links">
                                        <ul>
                                                <li><a href="/classes/{{object.slug}}/">
                                                        {{ object.event_startdate }} {% if object.event_enddate != object.event_startdate %}- {{ object.event_enddate }} {% endif %}
                                                        {% for obj in object.time_locations.all %}
                                                        {% for rd in obj.time_options.all %}
                                                        {% ifchanged %} | {{ rd.regular_days|default_if_none:"" }}{% endifchanged%}
                                                        {% endfor %}
                                                        {% endfor %}
                                                    </a></li>
                                        </ul>
                                    </div>
                                </div>
                                <h3 class="entry-title">
                                        <a href="/events/{{object.slug}}/">{{object.title}}</a>
                                </h3>
                                <div class="clear"></div>
                            </article>
                            {% endfor %}

                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}
