{% extends 'base.html' %}
{% block contentevent %}
{% load static %}
{% include 'snippets/nav.html'%}
<div class="single-portfolio">
        <article id="portfolio-2" class=" section portfolio">
            <div class="center-relative content-1170">
                <div class="entry-content">
                    <div class="content-wrap relative">
        <script>
                var aboutImage_speed = "1000";
                var aboutImage_auto = "true";
                var aboutImage_hover = "true";
        </script>
                        <div class="image-slider-wrapper relative img aboutImage">
                            <a id="aboutImage_next" class="image_slider_next" href="#"></a>
                            <div class="caroufredsel_wrapper">
                                    <ul id="aboutImage" class="image-slider slides">{% for obj in event.eventimage_set.all %}
                                        <li><img src="{{obj.image.url}}" alt=""></li>{%endfor%}
                                </ul>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                        <br>
                        <br>
                        <div class="one_half text-left">
                            <strong>Date(s):</strong> {{object.get_datestart}}{{object.get_dateend}}
                            <br>
                            <strong>Time:</strong> {{object.get_timestart}} - {{object.get_timeend}}<br>
                            <strong>Location:</strong> {{object.loc}}
                            <br>
                            <strong>Event Type:</strong> {{object.get_cat_display}} - {{object.get_level_display}}
                            <br>
                            <strong>Price:</strong> {{object.price}}
                            <br>
                            <br>
                            {% if object.registration %}
                            <div class="tab">
                                <input id="tab-one" type="checkbox" name="tabs" checked="checked"/>
                                <label for="tab-one">Register</label>
                                <div class="tab-content tab-form">
                                        {% if form.errors.non_field_errors %}
                                        {{ form.errors.non_field_errors }}
                                        {% endif %}
                                        {% if messages %}
                                        <ul class="messages">
                                            {% for message in messages %}
                                            <li{% if message.tags %} style="color: #f3d216; text-align: center;" class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                        <form method="post">
                                                {%csrf_token%}
                                                {{form.as_p}}
                                                <p><input value="Submit" type="submit"></p>
                                        </form>
                                </div>
                            </div>
                            {%else %}
                            <strong>Registration:</strong> Opens 120 days before Event start.
                            {% endif %}
                        </div>
                        <div class="one_half last">
                                <h1>{{object.title}}</h1>
                                <p>{{object.description|safe}}</p><br>
                                {% if object.prerequisites%}
                                <h1>Prerequisites</h1>
                                <p>{{object.prerequisites|safe}}</p>
                                {% endif%}
                                <br>
                                <br>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="full-width">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d4274.290564544589!2d-75.2952832049782!3d40.753669641460846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2srs!4v1444506658649" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div class="clear"></div>
                <div class="fullwidth">
                        <script>
                            var team1_speed = "2000";
                            var team1_auto = "true";
                            var team1_hover = "true";
                        </script>
                                <div class="image-slider-wrapper relative team team1">
                                    <a id="team1_next" class="image_slider_next" href="#"></a>
                                    <div class="caroufredsel_wrapper">
                                        <ul id="team1" class="image-slider slides">
                                            {% for obj in event.teacher_set.all %}
                                            <li>
                                                <div class="member-content-holder-event">
                                                        <h4 class="member-name"> {{obj.name}}</h4>
                                                        <p class="member-position">{{obj.position}}</p>
                                                        <div class="member-content">{{obj.content|safe}}<br></div>
                                                </div>
                                                {% if obj.image %}
                                                <div class="member-image-holder-event">
                                                        <img src="{{obj.image.url}}" alt="">
                                                </div>
                                                {% endif %}
                                                <div class="clear"></div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                </div>
                        </div>
                        <div class="clear"></div>
                </div>
            </div>
        </article>
</div>
{% include 'footer.html' %}
{% endblock %}
