{% extends 'base.html' %}
{% block contentclass %}
{% load static %}
{% include 'snippets/nav.html'%}
<div class="single-portfolio">
    <article id="portfolio-2" class=" section portfolio">
        <div class="center-relative content-1170">
            <div class="entry-content">
                <div class="content-wrap relative">
    <script>
            var aboutImage_speed = "1000";
            var aboutImage_auto = "true";
            var aboutImage_hover = "true";
    </script>
                    <div class="image-slider-wrapper relative img aboutImage">
                        <a id="aboutImage_next" class="image_slider_next" href="#"></a>
                        <div class="caroufredsel_wrapper">
                            <ul id="aboutImage" class="image-slider slides">{% for obj in event.images.all %}
                                <li><img src="{{obj.image.url}}" alt=""></li>{%endfor%}
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                    <br>
                    <br>
                    <div class="one_half text-left">
                        <ul>
                            <li><strong>Event</strong>: {{ object.title }}</li>
                            <li><strong>Categorie</strong>: {{ object.get_category_display }}</li>
                            <li><strong>Date</strong>: {{ object.event_startdate }} {% if object.evnet_startdate != object.event_enddate %} - {{ object.event_enddate }} {% endif %} {% for to in timeoption %}
                            <li><h3>{{ to.regular_days }}</h3></li>
                            {% for tl in to.timelocation_set.all %}
                            <li><strong>Address</strong> : {{ tl.location.address }}
                            {% endfor %}
                            <li><strong>Door Open</strong>: {{ to.open_starttime }}  - {{ to.open_endtime }}</li>
                            {% if to.class_starttime %}<li><strong>Class</strong>: {{ to.class_starttime }} - {{ to.class_endtime }}</li>{% endif %}
                            {% endfor %}
                        </ul>
                    <br>
                        <div class="tab">
                            <input id="tab-one" type="checkbox" name="tabs"/>
                            <label for="tab-one">PRICING</label>
                            <div class="tab-content">
                                    <div class="table-wrapper text-left">
                                        <table class="alt">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Price</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td scope="row" data-label="Name">Double Class Cycle</td>
                                                    <td data-label="Price (Normal / Student)">CHF 150/120</td>
                                                </tr>
                                                <tr>
                                                    <td scope="row" data-label="Name">Single Class Cycle</td>
                                                    <td data-label="Price (Normal / Student)">CHF 90/70</td>
                                                </tr>
                                                <tr>
                                                    <td scope="row" data-label="Name">Single Class</td>
                                                    <td data-label="Price (Normal / Student)">CHF 25</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <a href="/info/prices/" target="_self" class="button" type="submit">Details</a>
                            </div>
                        </div>
                        <div class="tab">
                            <input id="tab-two" type="checkbox" name="tabs"/>
                            <label for="tab-two">REGISTER</label>
                            <div class="tab-content tab-form">
                                    {% if form.errors.non_field_errors %}
                                    {{ form.errors.non_field_errors }}
                                    {% endif %}
                                    {% if messages %}
                                    <ul class="messages">
                                        {% for message in messages %}
                                        <li{% if message.tags %} style="color: #f3d216; text-align:center;" class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                    <form method="post"> {% csrf_token %}
                                        {{form.as_p}}
                                        <p><input value="Submit" type="submit"></p>
                                    </form>
                            </div>
                        </div>
                    </div>

                    <div class="one_half last">
                            <h1>{{object.title}}</h1>
                            <p>{{object.description|safe}}</p><br>
                            {% if object.prerequisites%}
                            <h1>Prerequisites</h1>
                            <p>{{object.prerequisites|safe}}</p>
                            {% endif%}
                            <br>
                            <br>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </article>
</div>
{% include 'footer.html' %}
{% endblock %}
