{% extends 'base.html' %}
{% block head_title %}{{block.super}}Home of Acro, Yoga and Lamas{% endblock%}
{% block content %}
    {% include 'snippets/nav.html' %}
    {#{% include 'preload.html' %}#}
    {% include 'home/start.html' %}
    {% include 'home/events.html' %}
    {% include 'home/classes.html' %}
    {#{% include 'video.html' %}#}
    {#{% include 'services.html' %}#}
    {% include 'home/portfolio.html' %}
    {% include 'home/about.html' %}
    {# {% include 'skills.html' %}#}
    {#    {% include 'contact.html' %}#}
    {% include 'footer.html' %}
{% endblock%}
