{% extends 'base.html' %}
{% load tinycontent_tags %}
{% block head_title %}
{{block.super}}Acro and Acroyoga Team - Classes, Workshop and Festivals
{% endblock%}
{% block meta_description %}
<meta name="description" content="Swiss Acro & Acroyoga team that offers weekly classes, organize Workshops and Training Camps internationally. Hosts of the Winter & Urban Acro Festival Zürich."/>
{% endblock meta_description%}
{% block meta_og %}
<meta property="og:url" content="https://www.acrolama.com/" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Acro and Acroyoga Team of lamas, the flying kind." />
<meta property="og:description" content="This funny acrobats offer weekly classes in Zürich and Bern, Workshops all over the globe and Training Camps. If your up for a new challenge come try it out!" />
<meta property="og:image" content="{% tinycontent_simple 'OG_Home' %}" />
<meta property="fb:app_id" content="2581322572097954" />
{% endblock meta_og %}
{% block content %}
{% include 'snippets/nav.html' %}
{#{% include 'preload.html' %}#}
{% include 'home/start.html' %}
{% include 'home/events.html' %}
{% include 'home/classes.html' %}
{#{% include 'home/video.html' %}#}
{#{% include 'services.html' %}#}
{% include 'home/portfolio.html' %}
{% include 'home/about.html' %}
{# {% include 'skills.html' %}#}
{#    {% include 'contact.html' %}#}
{% include 'footer.html' %}
{% endblock%}
