{% load static %}
<!-- Portfolio -->
<div id="portfolio" class="section">
    <div class="block content-1170 center-relative">
        <div class="section-title-holder right pink">
            <div class="section-num pink">
                <span>
                    <i class="fas fa-camera-retro"></i>
                </span>
            </div>
            <h2 class="entry-title">MEDIA</h2>
        </div>
        <div class="section-content-holder portfolio-holder left">
            <div class="grid" id="portfolio-grid">
                <div class="grid-sizer"></div>
                {% for obj in portfolio %}
                <div class="grid-item {% if obj.image.formImage == "landscape" %} grid-item--width2{% endif %}">
                    <a data-lightbox="portfolio" href="{{ obj.image.image.url }}">
                        <picture>
                            <source media="max-width: 450px)" srcset="{{ obj.image.mob.url }}">
                            <img src="{{ obj.image.thumbnail.url }}" alt="{{ obj.image.description }}">
                        </picture>
                        <div class="portfolio-text-holder">
                            <div class="portfolio-text-wrapper">
                                <p class="portfolio-type">
                                <img src="{% static "home/images/icon_post.svg" %}" alt="">
                                </p>
                                <p class="portfolio-text">{{ obj.text }}</p>
                                <p class="portfolio-sec-text">{{obj.sec_text}}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
