{% extends 'base.html' %}
{% block content %}
<h1>Portfolio</h1>
<form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" />
</form>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Uploaded at</th>
      <th>Size</th>
    </tr>
  </thead>
  <tbody>
    {% for obj in portfolios %}
      <tr>
        <td><a href="{{ obj.upload.url }}" target="_blank">{{ obj.upload.name }}</a></td>
        <td>{{ obj.uploaded_at }}</td>
        <td>{{ obj.upload.size|filesizeformat }}</td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="3">No data.</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{%endblock%}
