<table class="alt">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price (Normal / Student)</th>
    </tr>
  </thead>
    <tbody>
      <tr>
        <td scope="row" data-label="Name">Single Season Abo</td>
        <td data-label="Description">1 weekly acroyoga class for 5 Cycles</td>
        <td data-label="Price (Normal / Student)">380 CHF / 300 CHF</td>
      </tr>                                <tr>
        <td scope="row" data-label="Name">Double Season Abo</td>
        <td data-label="Description">Two weekly acroyoga classes for 5 Cycles</td>
        <td data-label="Price (Normal / Student)">750 CHF / 590 CHF</td>
      </tr>
      <tr>
        <td scope="row" data-label="Name">Cycle</td>
        <td data-label="Description">A weekly acroyoga class 4 times</td>
        <td data-label="Price (Normal / Student)">90 CHF / 70 CHF</td>
      </tr>
      <tr>
        <td scope="row" data-label="Name">Double Cycle</td>
        <td data-label="Description">Two weekly acroyoga class 8 times</td>
        <td data-label="Price (Normal / Student)">150 CHF / 120 CHF</td>
      </tr>                                <tr>
        <td scope="row" data-label="Name">Single Class</td>
        <td data-label="Description">Single acroyoga class on any option</td>
        <td data-label="Price (Normal / Student)">25 CHF</td>
      </tr>
    </tbody>
</table>
<h3>Payment methods:</h3>
<ul>
  <li><b>PayPal</b>: <a href="https://www.paypal.me/agarate">Acrolama Paypal</a></li>
  <li><b>Twint</b>: +41764838510</li>
  <li><b>Bank Transfer</b>:</li>
  <li>Acrolama KLG</li>
  <li>Tramstrasse 65, 8050 Zürich</li>
  <li><b>IBAN</b>: CH29 0022 5225 1202 6601 B</li>
  <li><b>BIC</b>: UBSWCHZH80A</li>
</ul>

