{% extends "base.html" %}{% load static compress%}
{% block head_title %}Profile{% endblock%}
{% block css %}
        {% compress css file event %}
            <link rel="stylesheet" type="text/css" href="{% static "home/css/popform.css" %}?v=18" media="screen" />
            <link rel="stylesheet" type="text/css" href="{% static "home/css/profile.css" %}?v=18" media="screen" />
            <link rel="stylesheet" type="text/css" href="{% static "home/css/event.css" %}?v=18" media="screen" />
            <link rel="stylesheet" type="text/css" href="{% static "home/css/forms.css" %}?v=18" media="screen" />
            <link rel="stylesheet" type="text/css" href="{% static "home/css/faq.css" %}?v=18" media="screen" />
        {% endcompress %}
{% endblock %}
{% block content %}{% load widget_tweaks %}{% load static %}{% load tinycontent_tags %}
<div class="single-portfolio">
    <article id="profile" class="section portfolio">
        <div class="center-relative content-1170">
            <div class="entry-content">
                <div class="content-wrap relative">
                    <div class="one">
                        <h4>{{ user.first_name }} {{user.last_name }}</h4>
                        <h6>Profile</h6>
                        <ul>
                            <li>Email: {{ user.email }} <a href="{% url "account_email" %}">Edit</a></li>
                            <li><a href="{% url "account_change_password" %}">Change Password</a></li>
                            <li>Phone: {% if user.phone %} {{ user.phone }} <a href="">Edit</a>
                                {% else %}<a href="">Add</a>{% endif %}</li>
                            <li>Address: {% if user.address %} {{ user.address }} {% else %} <a href="{% url 'home' %}">Add</a>{% endif %}</li>
                        </ul>
                    </div>
                    <div class="one top-20">
                        <div class="accordion-header">My Registrations</div>
                        <div class="accordion-content">
                            <div class="accordion-entry">
                                <input id="booking" type="checkbox" class="accordion">
                                <div class="plus">+</div>
                                <label for="booking" class="accordion-title">Bookings</label>
                                <div class="accordion-entry-content">
                                    <!-- Content -->
                                    <table class="alt">
                                      <thead>
                                        <tr>
                                          <th scope="col">Booked</th>
                                          <th scope="col">Status</th>
                                          <th scope="col">Attendance</th>
                                          <th scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                        <tbody>
                                            {% for book in books %}
                                          <tr>
                                              <td data-label="Booked"><a href="{{ book.event.get_absolute_url }}">{{ book.event.title }}</a></td>
                                              <td data-label="Status">{{ book.invoice.get_status_display }}</td>
                                              <td data-label="Attendance">{{ book.attendance.count_attendance }}/{{ book.attendance.count_dates }}</td>
                                              <td data-label="Actions"><a href="">Pay</a> | <a href="">Cancel</a></td>
                                          </tr>
                                          {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="accordion-entry">
                                <input id="accounting" type="checkbox" class="accordion">
                                <div class="plus">+</div>
                                <label for="accounting" class="accordion-title">Transactions / Credit</label>
                                <div class="accordion-entry-content">
                                    <!-- Content -->
                                    <table class="alt">
                                      <thead>
                                        <tr>
                                          <th scope="col">Booked</th>
                                          <th scope="col">Status</th>
                                          <th scope="col">Attendance</th>
                                          <th scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                        <tbody>
                                            {% for book in books %}
                                          <tr>
                                              <td data-label="Booked"><a href="{{ book.event.get_absolute_url }}">{{ book.event.title }}</a></td>
                                              <td data-label="Status">{{ book.invoice.get_status_display }}</td>
                                              <td data-label="Attendance">{{ book.attendance.count_attendance }}/{{ book.attendance.count_dates }}</td>
                                              <td data-label="Actions"><a class="popup-trigger">Cancel Class</a></td>
                                          </tr>
                                          {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>
<!-- Sign in pop up -->
<div class="popup" role="alert">
    <div class="popup-container">
        <a href="#0" class="popup-close img-replace">Close</a>
        <div class ="center-text"><h2>Booking</h2></div>
        <div class="popup-form text-left">
          {% for form in forms %}
            {{ form }}
          {% endfor %}
          <button type="submit" form="booking">Submit</button>
        </div>
    </div>
</div>
{% endblock %}
