{% load static %}
        <link rel="stylesheet" type="text/css"  href='{% static 'home/css/clear.css' %}' />
        <link rel="stylesheet" type="text/css"  href='{% static 'home/css/common.css' %}' />
        <link rel="stylesheet" type="text/css"  href='{% static 'home/css/font-awesome.min.css' %}' />
        <link rel="stylesheet" type="text/css"  href='{% static 'home/css/carouFredSel.css' %}' />
        <link rel="stylesheet" type="text/css"  href='{% static 'home/css/prettyPhoto.css' %}' />
        <link rel="stylesheet" type="text/css"  href='{% static 'home/css/sm-clean.css' %}' />
        <link rel="stylesheet" type="text/css"  href='{% static 'home/css/style.css' %}' />

