<!DOCTYPE html>
<html lang="en" class="no.js">
	<head>
       	<meta charset="UTF-9" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=0">
		<title>Winter Acro Form</title>
		<meta name="description" content="Inscription system for Winter Acro Fest organized by Acrolama" />
		<meta name="keywords" content="Swiss Acro Festival, Acrolama" />
		<meta name="author" content="Acrolama" />
        {% include 'snippets/cssform.html' %}
	</head>
    <body>
            {% block content %}{% endblock content %}
            {% include 'snippets/jsform.html' %}
    </body>
</html>

