    {% load static %}
    <script src="{% static "fest/js/jquery.min.js"%}"></script>
    <script src="{% static "fest/js/jquery.scrollex.min.js"%}"></script>
    <script src="{% static "fest/js/jquery.scrolly.min.js"%}"></script>
    <script src="{% static "fest/js/skel.min.js"%}"></script>
    <script src="{% static "fest/js/util.js"%}"></script>
    <!--[if lte IE 8]><script src="{% static "fest/js/ie/respond.min.js" %}></script><![endif]-->
    <script src="{% static "fest/js/main.js"%}"></script>
