{% load widget_tweaks %}{% load booking_tags %}
    <div class="card card-body bg-light">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="filter-tab" data-toggle="tab" href="#filter" role="tab" aria-controls="filter" aria-selected="true">Filter</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#create" role="tab" aria-controls="create" aria-selected="false">Create New</a>
              </li>
            </ul>
        </div>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="filter" role="tabpanel" aria-labelledby="filter-tab">
                <div class="card-body">
                    <form method="GET">
                        <div class="row">
                            <div class="form-group col-sm-4 col-md-4">
                            {{ event_filter.form.project.label_tag }}
                            {{ event_filter.form.project|addclass:"form-control" }}
                            </div>
                            <div class="form-group col-sm-4 col-md-6">
                            {{ event_filter.form.time_locations.label_tag }}
                            {{ event_filter.form.time_locations }}
                            </div>
                            <div class="form-group col-sm-4 col-md-2">
                            {{ event_filter.form.level.label_tag }}
                            {{ event_filter.form.level|addclass:"form-control" }}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">
                        <i class="fas fa-search"></i> Search
                        </button>
                    </form>
                </div>
            </div>
            <div class="tab-pane fade" id="create" role="tabpanel" aria-labelledby="create-tab">
                <div class="card-body">
                    <form action="{% url "event_list" %}" method="POST">{% csrf_token %}
                        <div class="row">
                            <div class="form-group col-sm-4 col-md-5">
                            {{ form.title.label_tag }}
                            {{ form.title|addclass:"form-control" }}
                            </div>
                            <div class="form-group col-sm-4 col-md-5">
                            {{ form.project.label_tag }}
                            {{ form.project|addclass:"form-control" }}
                            </div>
                            <div class="form-group col-sm-4 col-md-2">
                            {{ form.policy.label_tag }}
                            {{ form.policy|addclass:"form-control" }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="form-group col-sm-4 col-md-3">
                              {{ form.discipline.label_tag }}
                              {{ form.discipline|addclass:"form-control" }}
                            </div>
                            <div class="form-group col-sm-4 col-md-3">
                              {{ form.level.label_tag }}
                              {{ form.level|addclass:"form-control" }}
                            </div>
                            <div class="form-group col-sm-4 col-md-3">
                              {{ form.category.label_tag }}
                              {{ form.category|addclass:"form-control" }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="form-group col-sm-12 col-md-12">
                              {{ form.teachers.label_tag }}
                              {{ form.teachers }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12 col-md-12">
                              {{ form.time_locations.label_tag }}
                              {{ form.time_locations }}
                              <a class="btn btn-info btn-sm mt-2" href="{% url "admin:project_timelocation_add" %}"><i class="fas fa-plus"></i> ADD </a>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="form-group col-sm-12 col-md-12">
                              {{ form.price_options.label_tag }}
                              {{ form.price_options }}
                              <a class="btn btn-info btn-sm mt-2" href="{% url "admin:project_priceoption_add" %}"><i class="fas fa-plus"></i> ADD </a>
                            </div>
                        </div>
                        <button type="submit" name="newevent" class="btn btn-warning">
                        <i class="fas fa-save"></i> Save Event
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

<hr>

<script language="Javascript">
    function toggle(source) {
        var checkboxes = document.querySelectorAll('input[name="check"]');
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i] != source)
                checkboxes[i].checked = source.checked;
        }
    }
</script>

<form action="{% url "event_list" %}" method="POST">{% csrf_token %}
    <table class="table table-hover table-borderless">
        <thead>
            <tr>
                <th><input type="checkbox" onClick="toggle(this);"></th>
                <th>Title</th>
                <th>#</th>
                <th>Project</th>
                <th>Start Date</th>
                <th>Cycle</th>
                <th>Level</th>
                <th>Pub.</th>
                <th>Reg.</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in page_obj %}
                <td><input type="checkbox" name="check" value="{{obj.id}}"></td>
                <td><a href="{% url "event_update" obj.pk %}?{% pass_get_filter %}">{{ obj.title }}</a></td>
                <td><a href="{% url "event_update" obj.pk %}?{% pass_get_filter %}">{{ obj.pk }}</a></td>
                <td>{{obj.project}}</td>
                <td>{{obj.event_startdate|date:'y. M. d'}}</td>
                <td>{{obj.cycle|default_if_none:"--"}}</td>
                <td>{{obj.level.get_name_display}}</td>
                <td>{% if obj.published == False %}<i class="fas fa-times" style="color: red;"></i>{% else %}<i class="fas fa-check" style="color: green;"></i>{% endif %}</td>
                <td>{% if obj.register == False %}<i class="fas fa-times" style="color: red;"></i>{% else %}<i class="fas fa-check" style="color: green;"></i>{% endif %}</td>
            </tr>
            {% endfor%}
        </tbody>
    </table>
</form>
