{% load widget_tweaks %}{% load booking_tags %}
<form method="get">
    <div class="card card-body bg-light">
        <h4>Filter</h4>
        <div class="row">
            <div class="form-group col-sm-2 col-md-2">
            {{ account_filter.form.id.label_tag }}
            {% render_field account_filter.form.id class="form-control" %}
            </div>
            <div class="form-group col-sm-4 col-md-3">
            {{ account_filter.form.book__user.label_tag }}
            {% render_field account_filter.form.book__user class="form-control" %}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4 col-md-2">
            {{ account_filter.form.status.label_tag }}
            {% render_field account_filter.form.status class="form-control" %}
            </div>
            <div class="form-group col-sm-4 col-md-8">
            {{ account_filter.form.book__event.label_tag }}
            {% render_field account_filter.form.book__event class="form-control" %}
            </div>
            <div class="form-group col-sm-4 col-md-2">
            {{ account_filter.form.balance.label_tag }}
            {% render_field account_filter.form.balance class="form-control" %}
            </div>
            <div class="form-group col-sm-4 col-md-2">
            {{ account_filter.form.pay_till.label_tag }}
            {% render_field account_filter.form.pay_till class="datepicker form-control" %}
            </div>
            <div class="form-group col-sm-4 col-md-2">
            {{ account_filter.form.start_pay_date.label_tag }}
            {% render_field account_filter.form.start_pay_date class="datepicker form-control" %}
            </div>
            <div class="form-group col-sm-4 col-md-2">
            {{ account_filter.form.end_pay_date.label_tag }}
            {% render_field account_filter.form.end_pay_date class="datepicker form-control" %}
            </div>
            <div class="form-group col-sm-4 col-md-2">
            {{ account_filter.form.range_pay_date.label_tag }}
            {% render_field account_filter.form.range_pay_date class="form-control" %}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">
        <i class="fas fa-search"></i> Search
        </button>
    </div>
</form>
<hr>
<table class="table table-hover table-borderless">
    <thead>
        <th>Account</th>
        <th>#</th>
        <th>Name</th>
        <th>Event</th>
        <th>Pay till</th>
        <th>Paid date</th>
        <th>To Pay</th>
        <th>Status</th>
        <th>Edit</th>
    </thead>
    <tbody>
        {% for obj in page_obj %}
        <tr>
            <td>{{obj.get_balance_display}}</td>
                <td>{{obj.pk}}</td>
                <td>{% if obj.partner %}{{ obj.partner.name}}{% else %}{{obj.book.user.get_full_name}}{% endif %}</td>
                <td>{% if obj.book %}{{obj.book.event.title}}{% else %}-{% endif %}</td>
                <td>{{obj.pay_till}}</td>
                <td>{{obj.pay_date}}</td>
                <td>{{obj.to_pay}}</td>
                <td>{{obj.get_status_display}}</td>
                <td><a href="{% url 'accounting_update' obj.pk %}?{% pass_get_filter %}"><i class="fas fa-edit"></i></a>
        </tr>
        {% endfor%}
    </tbody>
</table>
