{% extends 'base.html' %}
{% block head_title %}{{block.super}}{{ object.get_discipline_display }}{{ object.level }}{{ object.get_category_display }}: {{object.title}}{% endblock%}
{% block content %}
{% load static %}{% load tinycontent_tags %}
{% include 'snippets/nav.html'%}
<div class="single-portfolio">
    <article id="portfolio-2" class=" section portfolio">
        <div class="center-relative content-1170">
            <div class="entry-content">
                <div class="content-wrap relative">
    <script>
            var aboutImage_speed = "1000";
            var aboutImage_auto = "true";
            var aboutImage_hover = "true";
    </script>
                    <div class="image-slider-wrapper relative img aboutImage">
                        <a id="aboutImage_next" class="image_slider_next" href="#"></a>
                        <div class="caroufredsel_wrapper">
                            <ul id="aboutImage" class="image-slider slides">{% for obj in event.images.all %}
                                <li><img src="{{ obj.image.url }}" alt="{{ obj.image.description }}"></li>{%endfor%}
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                    <br>
                    <br>
                    <div class="one_half text-left">
                        <ul>
                            <li>
                                {{ object.title }} -{% if object.discipline %} <strong>{{ object.discipline.name }}</strong>{% endif %}
                                {% if object.level %} <strong>{{ object.level }}</strong>{% endif %}
                                {% if object.category %} <strong>{{ object.get_category_display }}</strong>{% endif %}
                            </li>
                            <li>
                                <strong>Date</strong>: {{ object.event_startdate }}
                                {% if object.event_startdate != object.event_enddate %}
                                - {{ object.event_enddate }}
                                {% endif %}
                            </li>
                                {% if object.exception %}
                                {% for ee in exception %}
                            <li>
                                <strong>Exception(s)</strong>: {{ ee.description }}
                            </li>
                                {% endfor %}
                                {% endif %}
                                {% for to in timeoption %}
                                {% if to.regular_days %}
                            <li>
                                <h3>{{ to.regular_days }}</h3>
                            </li>
                                {% endif %}
                                    {% for tl in to.timelocation_set.all %}
                            <li>
                                <strong>Address</strong> : {{tl.location.name }} | {{ tl.location.address }}
                            </li>
                                    {% endfor %}
                            <li>
                                <strong>Door Open</strong>: {{ to.open_starttime }}  - {{ to.open_endtime }}
                            </li>
                                {% if to.class_starttime %}
                            <li>
                                <strong>Class</strong>: {{ to.class_starttime }} - {{ to.class_endtime }}
                            </li>
                                {% endif %}
                            {% endfor %}
                    <br>
                            <li>
                                <strong>Max. Participants</strong> : {{ object.max_participants }}
                            </li>
                            <li>
                                <strong>Policy</strong> : {% tinycontent_simple 'event_policy' %}
                            </li>
                        </ul>
                    <br>
                        <div class="tab">
                            <input id="tab-one" type="checkbox" name="tabs"/>
                            <label for="tab-one"><b>PRICING</b></label>
                            <div class="tab-content">
                                <div class="table-wrapper text-left">
                                    <table class="alt">
                                        <thead>
                                            <tr>
                                                <th scope="col">Name</th>
                                                <th scope="col">Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for po in priceoption %}
                                            <tr>
                                                <td scope="row" data-label="Name">{{ po.name }}</td>
                                                <td data-label="Price">
                                                    {% if po.price_chf %}CHF {{po.price_chf}} {% endif %}{% if por.price_euro %}EURO {{po.price.euro}}{% endif %}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <a href="/info/prices/" target="_self" class="button" type="submit">
                                    Details
                                </a>
                            </div>
                        </div>
                        <ul class="actions">
                        {% if user.is_authenticated %}
                        <!-- <li> Your one of us &#128151;, feel like flying?:</li> -->
                            <li><a class="button popup-trigger" style="width=100%;"><b>Book</b></a></li>
                        {% else %}
                            <li><a class="button" href="{% url "account_signup" %}"><b>Register</b></a></li>
                            <li>Allready have an account? <a href="{% url "account_login" %}">Sign in</a></li>
                        </ul>
                        {% endif %}
                    </div>
                    <div class="one_half last">
                        <h1>{{object.title}}</h1>
                        <p>{{object.description|safe}}</p>
                        {% if object.prerequisites %}
                        <h1>Prerequisites</h1>
                        <p>{{object.prerequisites|safe}}</p>
                        {% endif%}
                    </div>
                    <!-- TEACHER SECTION -->
                    <div class="one" style="background: #afdece;">
                        <script>
                            var aboutmember_speed = "2000";
                            var aboutmember_auto = "true";
                            var aboutmember_hover = "false";
                        </script>
                        <div class="image-slider-wrapper relative team team1">
                            <!-- Next Arrow -->
                            <a id="aboutmember_next" class="image_slider_next" href="#"></a>
                            <div class="caroufredsel_wrapper">
                                <ul id="aboutmember" class="image-slider slides">
                                    {% for teacher in teacher %}
                                    <li>
                                        <div class="member-content-holder">
                                            <h4 class="member-name">{{ teacher.first_name }}</h4>
                                            <p class="member-position">{{ teacher.title }}</p>
                                            <div class="member-content">{{ teacher.long_description|safe }}<br></div>
                                        </div>
                                        <div class="member-image-holder">
                                            <img src="{{ teacher.avatar.url }}" alt="{{ teacher.short_description }}">
                                        </div>
                                        <div class="clear"></div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <!-- END TEACHER -->
                    <div class="one">
                        {% if object.highlights %}
                        <h1 class="right">Highlights</h1>
                            <p>{{object.highlights|safe}}</p>
                        {% endif%}
                        {% if object.included %}
                        <h1>Included</h1>
                            <p>{{object.included|safe}}</p>
                        {% endif %}
                        {% if object.food %}
                        <h1>Food</h1>
                            <p>{{object.food|safe}}</p>
                        {% endif %}
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </article>
</div>
<!-- Sign in pop up -->
<div class="popup" role="alert">
  <div class="popup-container">
    <a href="#0" class="popup-close img-replace">Close</a>
    <div class ="center-text">
    <h1>Booking</h1>
    </div>
    <div class="popup-form text-left">
    <form method="POST">{% csrf_token %}
        {% if form.errors.non_field_errors %}
        {{ form.errors.non_field_errors }}
        {% endif %}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %}
                style="color: #f3d216; text-align:center;"
                class="{{ message.tags }}"
                {% endif %}>
                {{ message }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        <form method="post"> {% csrf_token %}
            {{form.as_p}}
            <p><input value="Submit" type="submit"></p>
        </form>
    </form>
    </div>
  </div>
</div>
{% include 'footer.html' %}
{% endblock %}
