{% extends 'base.html' %}
{% load widget_tweaks %}{% load static compress %}{% load tinycontent_tags %}
{% block head_title %}{{block.super}}{{ object.get_discipline_display }}{{ object.level }}{{ object.get_category_display }}: {{object.title}}{% endblock%}
{% block css %}
        <link rel="stylesheet" type="text/css" href="{% static "booking/bootstrap-datepicker3.standalone.min.css" %}?v=15" media="screen" />
{% endblock %}
{% block js %}
    {% compress js file event %}
        <script type="text/javascript" src="{% static "booking/bootstrap-datepicker.min.js" %}?v=15"></script>
        <script type="text/javascript" src="{% static "home/js/jquery.conditional.js" %}?v=15"></script>
    {% endcompress %}
{% endblock %}
{% block meta_og %}
<meta property="og:url" content="{{request.build_absolute_uri}}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{object.title}}" />
<meta property="og:description" content="{{object.description|striptags|truncatechars:197}}" />
<meta property="og:image" content="{{object.images.first.thumbnail.url}}" />
<meta property="fb:app_id" content="2581322572097954" />
{% endblock meta_og %}
{% block content %}
{% include 'snippets/nav.html'%}
<div class="single-portfolio">
    <article id="portfolio-2" class=" section portfolio">
        <div class="center-relative content-1170">
            <div class="entry-content">
                <div class="content-wrap relative">
<!-- Image Start -->
                    <script>
                            var aboutImage_speed = "1000";
                            var aboutImage_auto = "true";
                            var aboutImage_hover = "true";
                    </script>
                    <div class="image-slider-wrapper relative img aboutImage">
                        <a id="aboutImage_next" class="image_slider_next" href="#"></a>
                        <div class="caroufredsel_wrapper">
                            <ul id="aboutImage" class="image-slider slides">{% for obj in object.images.all %}
                                <li>
                                    <picture>
                                        <source media="max-width: 450px)" srcset="{{ obj.mob.url }}">
                                        <source media="max-width: 800px)" srcset="{{ obj.thumbnail.url }}">
                                        <img src="{{ obj.image.url }}" alt="{{ obj.image.description }}">
                                    </picture>
                                </li>{%endfor%}
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
<!-- Image End -->
<!-- General Info Start -->
                    <div class="one top-50">
                        <div><h2><b>{{ object.title }}</b>{% if object.discipline %} - {{ object.discipline.name }} {% endif %}{% if object.level %} {{ object.level }} {% endif %}{% if object.category %} {{ object.get_category_display }} {% endif %}</h2></div>
                    </div>
                    <div class="one_half">
                        <ul>
                            <li>
                                <strong>Date</strong>: {{ object.event_startdate }}{% if object.event_startdate != object.event_enddate %} - {{ object.event_enddate }}{% endif %}
                            </li>
                    {% if exceptions %}{# TODO:Pluralize #}
                            <li>
                                <strong>Exceptions:</u></strong>
                            </li>
                            {% for obj in exceptions %}
                                <li>
                                    · {{obj.description}}
                                </li>
                            {% endfor %}
                    {% endif %}
                            <li>
                                <strong>Max. Participants</strong> : {{ object.max_participants }}
                            </li>
                        </ul>
                        <div class="tab" style="width:324px;">
                            <input id="tab-one" type="checkbox" name="tabs"/>
                            <label for="tab-one"><b>Pricing options ≡</b></label>
                            <div class="tab-content">
                                <div class="table-wrapper text-left">
                                    <table class="alt">
                                        <tbody>
                                            {% for po in priceoptions %}
                                            <tr>
                                                <td scope="row" data-label="Name"><b>{{ po.name }}</b></td>
                                                <td data-label="Price">
                                                    {% if po.price_chf %}CHF {{po.price_chf}} {% endif %}{% if por.price_euro %}EURO {{po.price.euro}}{% endif %}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <a href="/info/prices/" target="_self" class="button" type="submit">
                                    Details
                                </a>
                            </div>
                        </div>
                        <ul class="actions">
                            {% if object.registration %}
                                {% if user.is_authenticated %}
                                <li><a class="button popup-trigger" style="width:252px;"><b>Book</b></a></li>
                                {% else %}
                                <li><a class="button" href="{% url "account_signup" %}"><b>Register</b></a></li>
                                <li>Already have an account? <a href="{% url "account_login" %}">Sign in</a></li>
                                {% endif %}
                            {% endif %}
                        </ul>
                    </div>
                    {%for option in timelocations%}
                    <div class="one_half last">
                        <ul>
                        {%if option.regular_day %}
                            <li>
                                <h5>{{ option.regular_day }} Class</h5>
                            </li>
                        {% endif %}
                        <li>
                            <strong>Address</strong> : {{option.location }} || {{option.location.address }}
                        </li>
                        <li>
                            <strong>Door Open</strong>: {{ option.open_starttime }}  - {{ option.open_endtime }}
                        </li>
                        {% if option.class_starttime %}
                            <li>
                                <strong>Class</strong>: {{ option.class_starttime }} - {{ option.class_endtime }}
                            </li>
                        {% endif %}
                        </ul>
                    </div>
                    {% endfor %}
                    <div class="clear"></div>
<!-- General Info End -->
                    <div class="one">
                        <h1>Description</h1>
                        <p>{{object.description|safe}}</p>
                    </div>
                    <div class="one">
                        {% if object.prerequisites %}
                        <h1>Prerequisites</h1>
                        <p>{{object.prerequisites|safe}}</p>
                        {% endif%}
                    </div>
                </div>
            </div>
        <div id="extra" class="section">
            <div class="block content-1170 center-relative">
                <div class="section-title-holder left">
                    <div class="section-num">
                        <span>
                          <i class="fas fa-plus-circle"></i>
                        </span>
                    </div>
                    <h2 class="entry-title">Infos</h2>
                </div>
                <div class="section-content-holder right">
                     <!-- If video -->
                    <div class="full-width ">
                        {% for obj in event.videos.all %}
                        <a class="video-popup-holder" href="{{ obj.link}}" data-rel="prettyPhoto[gallery-video1]">
                            <img class="thumb" src="{{ obj.image.url }}" alt="{{ obj.description }}">
                            <img class="popup-play" src="{% static "home/images/icon_video.svg" %}" alt="Play">
                        </a>
                        {% endfor %}
                    </div>
                    <div class="full-width">
                        <script>
                            var aboutmember_speed = "2000";
                            var aboutmember_auto = "true";
                            var aboutmember_hover = "false";
                        </script>
                        <div class="image-slider-wrapper relative team team1">
                            <!-- Next Arrow -->
                            <a id="aboutmember_next" class="image_slider_next" href="#"></a>
                            <div class="caroufredsel_wrapper">
                                <ul id="aboutmember" class="image-slider slides">
                                    {% for teacher in teachers %}
                                    <li>
                                        <div class="member-content-holder">
                                            <h4 class="member-name">{{ teacher.first_name }}</h4>
                                            <p class="member-position">{{ teacher.title }}</p>
                                            <div class="member-content">{{ teacher.long_description|safe }}<br></div>
                                        </div>
                                        <div class="member-image-holder">
                                            <img src="{{ teacher.avatar.image.url }}" alt="{{ teacher.short_description }}">
                                        </div>
                                        <div class="clear"></div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>   <!-- end full-width div -->
                </div>
                <div class="clear"></div>
            </div>
        </div>
        {% if object.highlights or object.included or object.food %}
        <div class="center-relative content-1170">
            <div class="entry-content">
                <div class="content-wrap relative">
        {% if object.highlights or object.included or object.food %}
                    <div class="one">
                        {% if object.highlights %}
                        <h1 class="right">Highlights</h1>
                            <p>{{object.highlights|safe}}</p>
                        {% endif%}
                        {% if object.included %}
                        <h1>Included</h1>
                            <p>{{object.included|safe}}</p>
                        {% endif %}
                        {% if object.food %}
                        <h1>Food</h1>
                            <p>{{object.food|safe}}</p>
                        {% endif %}
                    </div>
        {% endif %}
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        {% endif %}
    </article>
</div>
<!-- Sign in pop up -->
<div class="popup" role="alert">
    <div class="popup-container">
        <a href="#0" class="popup-close img-replace">Close</a>
        <div class ="center-text"><h2>Booking</h2></div>
        <div class="popup-form text-left">
            <form method="POST" id="booking"> {% csrf_token %}
                <div>
                    {{ form.times.label_tag }}
                    {% render_field form.times %}
                </div>
                <div >
                    {# TODO: make wider#}
                    {{ form.price.label_tag }}
                    {% render_field form.price %}
                </div>
                <div>
                    {{ form.comment.label_tag }}
                    {% render_field form.comment %}
                </div>
                <div>
                    {% render_field form.accepted_policy %} I accept the <a href="{{ object.policy.get_absolute_url }}">Terms and Conditions</a><label for="booking-acccepted_policy"></label>
                </div>
                <div class="conditional" data-cond-option="booking-price" data-cond-value="{% for obj in conditional.formduo %}{{obj}} {% endfor %}">
                    <hr>
                    <div>
                        {{ formduo.first_name.label_tag }}
                        {% render_field formduo.first_name %}
                    </div>
                    <div>
                        {{ formduo.last_name.label_tag }}
                        {% render_field formduo.last_name %}
                    </div>
                    <div>
                        {{ formduo.email.label_tag }}
                        {% render_field formduo.email %}
                    </div>
                    <div>
                        {{ formduo.phone.label_tag }}
                        {% render_field formduo.phone %}
                    </div>
                </div>
                <div class="conditional" data-cond-option="booking-price" data-cond-value="{% for obj in conditional.formdate %}{{obj}} {% endfor %}">
                    <hr>
                    {{ formdate.single_date.label_tag }}
                    <span style=".datepicker table tr td.disabled,
                                .datepicker table tr td.disabled:hover {
                                 background:0 0;
                                 color:#7777774a;
                                 cursor:default
                                 }">
                    {% render_field formdate.single_date class="datepicker" %}
                    </span>
                    <script type="text/javascript">
                        window.onload = function() {
                            $('.datepicker').datepicker({
                                format: "yyyy-mm-dd",
                                weekStart: 1,
                                maxViewMode: 0,
                                todayBtn: "linked",
                                clearBtn: true,
                                orientation: "bottom auto",
                                autoclose: true,
                                todayHighlight: true,
                                startDate: "{{object.event_startdate|date:'Y-m-d'}}",
                                endDate: "{{object.event_enddate|date:'Y-m-d'}}",
                            });
                        }
                    </script>
                </div>
            </form>
                    <button type="submit" form="booking">Submit</button>
        </div>
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}
