{% load static %}{% load compress %}
        <link rel="stylesheet" type="text/css"  href='{% static 'home/css/clear.css' %}' />
        <link rel="stylesheet" type="text/css"  href='{% static 'home/css/common.css' %}' />
        <link rel="stylesheet" type="text/css"  href='{% static 'home/css/font-awesome.min.css' %}' />
        <link rel="stylesheet" type="text/css"  href='{% static 'home/css/carouFredSel.css' %}' />
        <link rel="stylesheet" type="text/css"  href='{% static 'home/css/lightbox.css' %}' />
        <link rel="stylesheet" type="text/css"  href='{% static 'home/css/sm-clean.css' %}' />
        <link rel="stylesheet" type="text/css"  href='{% static 'home/css/style.css' %}' />
        <link href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:300,400,400i,700,700i,900" rel="stylesheet">
