{% load static compress %}{% load cache %}
    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% static "home/css/clear.css" %}?v=15" />
        <link rel="stylesheet" type="text/css" href="{% static "home/css/common.css" %}?v=15" />
        <link rel="stylesheet" type="text/css" href="{% static "home/css/font-awesome.min.css" %}?v=15" />
        <link rel="stylesheet" type="text/css" href="{% static "home/css/carouFredSel.css" %}?v=15" />
        <link rel="stylesheet" type="text/css" href="{% static "home/css/lightbox.css" %}?v=15" />
        <link rel="stylesheet" type="text/css" href="{% static "home/css/sm-clean.css" %}?v=15" />
        <link rel="stylesheet" type="text/css" href="{% static "home/css/style.css" %}?v=15" />
        <link rel="stylesheet" type="text/css" href="{% static "booking/bootstrap-datepicker3.standalone.min.css" %}?v=15" media="screen" >
    {% endcompress %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800|Roboto:300,400,400i,700,700i,900&display=swap" />
