{% load static compress %}{% load cache %}
    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% static "home/css/clear.css" %}?v=19" />
        <link rel="stylesheet" type="text/css" href="{% static "home/css/common.css" %}?v=19" />
        <link rel="stylesheet" type="text/css" href="{% static "home/css/sm-clean.css" %}?v=19" />
        <link rel="stylesheet" type="text/css" href="{% static "home/css/lightbox.css" %}?v=19" />
        <link rel="stylesheet" type="text/css" href="{% static "home/css/slick.min.css" %}?v=19" />
        <link rel="stylesheet" type="text/css" href="{% static "home/css/slick-theme.min.css" %}?v=19" />
    {% endcompress %}
        <link rel="stylesheet" type="text/css" href="{% static "home/css/style.css" %}?v=19" />
        <!-- Load -->
        <style type="text/css">
        .fa,.fab,.fal,.far,.fas {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1
        }
        .fab {
        font-family: "Font Awesome 5 Brands";
        font-weight: 400;
        }
        .fa,.far,.fas {
        font-family: "Font Awesome 5 Free";
        }
        .fa,.fas {
        font-weight: 900;
        }
        .fa-camera-retro:before {
        content: "\f083"
        }
        .fa-facebook:before {
        content: "\f09a"
        }
        .fa-flask:before {
        content: "\f0c3"
        }
        .fa-hourglass-half:before {
        content: "\f252"
        }
        .fa-instagram:before {
        content: "\f16d"
        }
        .fa-rocket:before {
        content: "\f135"
        }
        .fa-youtube:before {
        content: "\f167"
        }
        .fa-plus-circle:before{
            content:"\f055"
        }
        .fa-bars:before{
            content:"\f0c9"
        }
        .fa-fire-alt:before{
            content:"\f7e4"
        }
        </style>
