{% load static %}
        <!--Load JavaScript-->
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        <!-- sticking elements -->
        <script type='text/javascript' src='{% static 'home/js/jquery.sticky-kit.min.js' %}'></script>
        <script type='text/javascript' src='{% static 'home/js/jquery.smartmenus.min.js' %}'></script>
        <script type='text/javascript' src='{% static 'home/js/jquery.sticky.js' %}'></script>
        <script type='text/javascript' src='{% static 'home/js/jquery.dryMenu.js' %}'></script>
        <!-- Isotop with packagery -->
        <script type='text/javascript' src='{% static 'home/js/isotope.pkgd.js' %}'></script>
        <script type='text/javascript' src='{% static 'home/js/packery-mode.pkgd.min.js' %}'></script>
        <!-- carouFredSel -->
        <script type='text/javascript' src='{% static 'home/js/jquery.carouFredSel-6.2.0-packed.js' %}'></script>
        <!-- carou helpers -->
        <script type='text/javascript' src='{% static 'home/js/jquery.mousewheel.min.js' %}'></script>
        <script type='text/javascript' src='{% static 'home/js/jquery.touchSwipe.min.js' %}'></script>
        <script type='text/javascript' src='{% static 'home/js/jquery.transit.min.js' %}'></script>
        <script type='text/javascript' src='{% static 'home/js/jquery.ba-throttle-debounce.min.js' %}'></script>
        <!-- Softens effects -->
        <script type='text/javascript' src='{% static 'home/js/jquery.easing.1.3.js' %}'></script>
        <!-- Your images loaded or what -->
        <script type='text/javascript' src='{% static 'home/js/imagesloaded.pkgd.js' %}'></script>
        <!-- Image Slide over -->
        <script type='text/javascript' src='{% static 'home/js/jquery.prettyPhoto.js' %}'></script>
        <! -- Lightboy -->
        <script type='text/javascript' src='{% static 'home/js/lightbox.js' %}'></script>
        <!-- Main project -->
        <script type='text/javascript' src='{% static 'home/js/main.js' %}'></script>
