<!-- Menu -->
  <div class="menu-wrapper center-relative">
    <nav id="header-main-menu">
          <div class="mob-menu">MENU</div>
          <ul class="main-menu sm sm-clean">
            <li><a href="{% url "home" %}">Home</a></li>
            {% if event %}
            <li><a href="{% url "home" %}#events">Events</a></li>
            {% endif %}
            <li><a href="{% url "home" %}#classes">Classes</a></li>
            <li><a href="{% url "home" %}#about">About US</a></li>
            <li><a target="_blank" href="https://www.acrofestival.ch">Fest</a></li>
            <!-- <li><a href="{% url "home" %}#contact">Contact</a></li> -->
            {% if user.is_authenticated %}
            <li><a href="{% url "home" %}#profile">{{request.user.first_name}} ▿</a></li>
            <li><a href="{% url "account_logout" %}">Logout</a></li>
            {% else %}
            <li><a href="{% url "account_signup" %}"><b>Register</b></a></li>
            <li><a href="{% url "account_login" %}">Sign in</a></li>
            {% endif %}
            <li><a target="_blank" style="font-size: 20px;" href="http://www.facebook.com/acrolama"><i class="fab fa-facebook"></i></a></li>
            <li><a target="_blank" style="font-size: 20px;" href="http://www.instagram.com/acrolama"><i class="fab fa-instagram"></i></a></li>
          </ul>
      </nav>
  </div>
