<!-- menu -->{% load cache %}{% cache 500 nav request.user.id %}
<div class="menu-wrapper center-relative">
  <nav id="header-main-menu">
    <div class="mob-menu">MENU <i style="font-size:27px;" class="fas fa-bars"></i></div>
    <ul class="main-menu sm sm-clean">
      <li><a href="{% url "home" %}">Home</a></li>
      <li><a href="{% url "home" %}#events">Events</a></li>
      <li><a href="{% url "home" %}#classes">Classes</a></li>
      <li><a href="{% url "home" %}#about">About US</a></li>
      {% if user.is_authenticated %}
      <li><a href="{% url "account_logout" %}">Logout</a></li>
      {% else %}
      <li><a href="{% url "account_login" %}"><b>Sign in</b></a></li>
      {% endif %}
      <li><a target="_blank" rel="noopener" href="https://www.acrofestival.ch">Festivals</a></li>
      <li><a target="_blank" rel="noopener" style="font-size: 20px;" href="http://www.facebook.com/acrolama"><i class="fab fa-facebook"></i></a></li>
      <li><a target="_blank" rel="noopener" style="font-size: 20px;" href="http://www.instagram.com/acrolama"><i class="fab fa-instagram"></i></a></li>
    </ul>
    </nav>
</div>{% endcache %}
