        {% load static %}
        <link rel="shortcut icon" href="{% static "favicon.ico"%}">
        <link rel="stylesheet" href="https://use.fontawesome.com/1391c0be18.css">
        <link rel="stylesheet" type="text/css" href="{% static "formulario/css/normalize.css"%}"/>
        <link rel="stylesheet" type="text/css" href="{% static "formulario/css/demo.css"%}"/>
        <link rel="stylesheet" type="text/css" href="{% static "formulario/css/component.css"%}"/>
        <link rel="stylesheet" type="text/css" href="{% static "formulario/css/cs-select.css"%}"/>
        <link rel="stylesheet" type="text/css" href="{% static "formulario/css/cs-skin-boxes.css"%}"/>
        <script src="{% static "formulario/js/modernizr.custom.js"%}"></script>

