        <link rel="shortcut icon" href="../favicon.ico">
        <link rel="stylesheet" href="https://use.fontawesome.com/1391c0be18.css"/>
        <link rel="stylesheet" type="text/css" href="formulario/css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="/css/demo.css"/>
        <link rel="stylesheet" type="text/css" href="formulario/css/component.css"/>
        <link rel="stylesheet" type="text/css" href="formulario/css/cs-select.css"/>
        <link rel="stylesheet" type="text/css" href="formulario/css/cs-skin-boxes.css"/>
		<script src="formulario/js/modernizr.custom.js"></script>

