{% extends "booking/base_bs.html" %}
{% block head_title%}List{% endblock %}
{% load widget_tweaks %}
{% block content %}
    <table class="table table-bordered">
        <thead>
            <th>Check</th>
            <th>Booking Id</th>
            <th>Booked Event</th>
            <th>Name</th>
            <th>Today Date</th>
            <th>Price Option</th>
        </thead>
        <tbody>
            {% for obj in assistance_list %}
            <tr>
                <td><input type="radio" name="foobar"></td>
                <td>{{obj.book.id}}</td>
                <td>{{obj.book.event}}</td>
                <td>{{obj.book.user.get_full_name}}</td>
                <td>{{obj.get_assistance_today}}</td>
                <td>{{obj.get_check_today}}</td>
            </tr>
            {% endfor%}
        </tbody>
    </table>
{% endblock %}
