{% extends "booking/base_bs.html" %}
{% block head_title%}List{% endblock %}
{% load widget_tweaks %}
{% block content %}
    <table class="table table-bordered">
        <thead>
            <th>Check</th>
            <th>Booking Id</th>
            <th>Booked Event</th>
            <th>Full Name</th>
            <th>Time Option</th>
            <th>Price Option</th>
        </thead>
        <tbody>
            {% for obj in assistance_list %}
            <tr>
                <td><a href=#> Link</a></td>
                <td>{{obj.book.id}}</td>
                <td>{{obj.book.event}}</td>
                <td>{{obj.book.user.get_full_name}}</td>
                <td>{% for obj in obj.assistance_date %}{{obj}}{% endfor %}</td>
                <td>{% for obj in obj.assistance_check %}{{obj}}{% endfor %}</td>
            </tr>
            {% endfor%}
        </tbody>
    </table>
{% endblock %}
