{% extends "booking/base_bs.html" %}
{% block head_title%}List{% endblock %}
{% load widget_tweaks %}
{% block content %}
<form action="{% url 'teacher_attendance' %}" method="POST">{% csrf_token %}
    <table class="table table-bordered">
        <thead>
            <th>Booking Id</th>
            <th>Booked Event</th>
            <th>Name</th>
            <th>Attendance</th>
            <th>Switch</th>
        </thead>
        <tbody>
            {% for obj in attendance_list %}
            <tr>
                <td>{{obj.book.id}}</td>
                <td>{{obj.book.event}}</td>
                <td>{{obj.book.user.get_full_name}}</td>
                <td>{{obj.get_check_today}}</td>
                <td><input type="checkbox" name="check" value="{{obj.id}} {{obj.get_num_today}}"></td>
            </tr>
            {% endfor%}
        </tbody>
    </table>
        <button type="submit" name="update" class="btn btn-warning">
        <i class="fas fa-edit"></i> Check
        </button>
</form>
{% endblock %}
