{% extends "booking/base_bs.html" %}
{% block head_title%}Update{% endblock %}
{% load widget_tweaks %}
{% block content %}
<form id="update" method="POST">{% csrf_token %}
    <div class="card card-body bg-light">
        <h4>{{object.price.name}} N°{{object.pk}} by {{object.user.get_full_name}} - {{object.booked_at|date:'M. dS'}} {% if object.invoice %}, with <a href="{% url 'accounting_update' object.invoice.pk %}">Invoice N°{{object.invoice.pk}}</a>{% else %}No Invoice{% endif %}{% if object.attendance %} and <a href="{% url 'attendance_update' object.attendance.pk %}">Attendance N°{{object.attendance.pk}}</a> {% endif %}</h4>
        <div class="row">
            <div class="col">
                {% if object.informed_at %}
                <div class="d-inline text-dark">Informed: {{object.informed_at}}</div>
                {% endif %}
                <div class="d-inline text-dark"><a id="addnote" class="text-primary" >Show notes.</a></div>
                <div id="note" >
                {% render_field form.note class="form-control" rows="2" %}
                </div>
                <script>
                $("#note").hide();
                $(document).ready(function(){
                    $("#addnote").click(function(){
                        $("#note").show();
                    });
                  });
                </script>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4 col-md-5">
              {{ form.user.label_tag }}
              {% render_field form.user class="form-control" %}
            </div>
            <div class="form-group col-sm-4 col-md-5">
              {{ form.event.label_tag }}
              {% render_field form.event class="form-control" %}
            </div>
            <div class="form-group col-sm-4 col-md-2">
              {{ form.status.label_tag }}
              {% render_field form.status class="form-control" %}
            </div>
            <div class="form-group col-sm-4 col-md-5">
            {{ form.times.label_tag }}
            {% render_field form.times class="form-control" %}
            </div>
        </div>
        {% if object.comment %}
        <div class="row">
            <div class="form-group col-sm-12 col-md-12">
            {{ form.comment.label_tag }}
            {% render_field form.comment class="form-control" rows="2" %}
            </div>
        </div>
        {% endif %}
        {% if object.bookduoinfo %}
        <hr>
        <h4>Additional Info</h4>
        <div class="row">
            <div class="d-inline p-2 text-dark">First name: {{object.bookduoinfo.first_name}}</div>
            <div class="d-inline p-2 text-dark">Last name: {{object.bookduoinfo.last_name}}</div>
            <div class="d-inline p-2 text-dark">Email: {{object.bookduoinfo.email}}</div>
            <div class="d-inline p-2 text-dark">Phone: {{object.bookduoinfo.phone}}</div>
        </div>
        {% endif %}
        {% if object.bookdateinfo %}
        <hr>
        <h4>Additional Info</h4>
        <div class="row">
            <div class="d-inline p-2 text-dark">Single date: {{object.bookdateinfo.single_date}}</div>
        </div>
        {% endif %}
        <hr>
        <p>From <u>Pending</u> or <u>Waiting List</u> to <u>Informed</u>: · Send "Confirmed" email · Assistance book created<p>
        <button type="submit" name="update" class="btn btn-danger">
            <i class="fas fa-edit"></i> UPDATE
        </button>
    </div>
</form>
<hr>
{% include "booking/snippets/booking_filter.html" %}
{% endblock %}
