{% extends "booking/base_bs.html" %}
{% load widget_tweaks %}
{% block content %}
<h4>Control</h4>
<table class="table table-bordered" id="theTable">
        <thead>
            <th>Date Booking</th>
            <th>Event</th>
            <th>User</th>
            <th>Status</th>
        </thead>
        <tbody>
            {% for obj in list %}
            <tr>
                    <td>{{obj.booked_at}}</td>
                    <td>{{obj.event}}</td>
                    <td>{{obj.user}}</td>
                    <td>{{obj.status}}</td>
            </tr>
            {% endfor%}
        </tbody>
</table>
{% endblock %}
