{% extends "booking/base_bs.html" %}
{% block head_title %} Home {% endblock %}
{% load widget_tweaks %}
{% block content %}
<div class="jumbotron" style="background-color: rgba(243, 210, 22, 0.8);">
  <div class="container">
      <h1 class="display-3">Herd - The Lama's tool</h1>
    <h4 class="display-5">"Nothing is yours. It is to use. It is to share. If you will not share it, you cannot use it."</h4>
    <h4 class="display-5">Ursula Le Guin</h4>
    <!-- <p><a class="btn btn-primary btn-lg" href="{% url 'home' %}" role="button">Back to Acrolama.com &raquo;</a></p> -->
  </div>
</div>

<div class="container">
<!-- Example row of columns -->
<div class="row">
    {% if user.is_staff %}
    <div class="col-md-6">
        <h2>Booking List</h2>
        <p>General booking list.</p>
        <p><a class="btn btn-primary" href="{% url 'booking_list' %}" role="button">View &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Invoices List</h2>
        <p>Booking Invoices.</p>
        <p><a class="btn btn-primary" href="{% url 'accounting_list' %}" role="button">View &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Attendance List</h2>
        <p>General Attendance list for Bookings.</p>
        <p><a class="btn btn-primary" href="{% url 'attendance_list' %}" role="button">View &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Quotations Control</h2>
        <p>Event Quotations.</p>
        <p><a class="btn btn-primary" href="{% url 'quotation_list' %}" role="button">View &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Contact List</h2>
        <p>Contact list with all bookings.</p>
        <p><a class="btn btn-primary" href="{% url 'contact_list' %}" role="button">View &raquo;</a></p>
    </div>
    {% endif %}

    <div class="col-md-6">
        <h2>Daily Attendance List</h2>
        <p>Daily attendies list</p>
        <p><a class="btn btn-info" href="{% url 'teacher_attendance' %}" role="button">View &raquo;</a></p>
    </div>

</div>

    <hr>
</div> <!-- /container -->
{% endblock %}
