{% extends "booking/base_bs.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Herd Center</h1>
    <h4 class="display-4">The lamas control center</h4>
    <!-- <p><a class="btn btn-primary btn-lg" href="{% url 'home' %}" role="button">Back to Acrolama.com &raquo;</a></p> -->
  </div>
</div>

<div class="container">
<!-- Example row of columns -->
  <div class="row">
    <div class="col-md-6">
      <h2>Booking Control Center</h2>
      <p>Confirm Bookings</p>
      <p>Access only for Admin</p>
      <p><a class="btn btn-primary" href="{% url 'booking_list' %}" role="button">View &raquo;</a></p>
    </div>
    <div class="col-md-6">
      <h2>Payment Control Center</h2>
      <p>Confirm Payment and Filters</p>
      <p>Access only for Admin</p>
      <p><a class="btn btn-primary" href="{% url 'accounting_list' %}" role="button">View &raquo;</a></p>
    </div>
    <div class="col-md-6">
      <h2>Main Attendance Control</h2>
      <p>Check Attendances</p>
      <p>Teachers only see their Class</p>
      <p><a class="btn btn-primary" href="{% url 'attendance_list' %}" role="button">View &raquo;</a></p>
    </div>
    <div class="col-md-6">
      <h2>Daily Attendance Control</h2>
      <p>As Teacher Control but as overview of Admin</p>
      <p>Only Admins</p>
      <p><a class="btn btn-secondary" href="{% url 'teacher_attendance' %}" role="button">View &raquo;</a></p>
    </div>
  </div>

    <hr>
</div> <!-- /container -->
{% endblock %}
