{% extends "booking/base_bs.html" %}
{% block head_title%}Create{% endblock %}
{% load widget_tweaks %}
{% block content %}

    <form method="POST">{% csrf_token %}
        <div class="card card-body bg-light">
            <h4> General Info </h3>
            <div class="row">
                <div class="form-group col-sm-4 col-md-4">
                    {{ form.event.label_tag }}
                    {% render_field form.event class="form-control" %}
                </div>
                <div class="form-group col-sm-4 col-md-4">
                    {{ form.time_location.label_tag }}
                    {% render_field form.time_location class="form-control" %}
                </div>
                <div class="form-group col-sm-4 col-md-4">
                    {{ form.teachers.label_tag }}
                    {% render_field form.teachers class="form-control" %}
                </div>
            </div>
        </div>

        <hr>

        <div class="card card-body bg-light">
            <h4>Booking List</b></h4>
            <hr>
            <table class="table table-hover table-borderless">
                <thead>
                    <th>Name, #</th>
                    <th>Option, Chf</th>
                    <th>Book</th>
                    <th>Invoice</th>
                    <th>Pay Till</th>
                    <th>Attn.</th>
                    <th>Edit Book</th>
                </thead>
                <tbody>
                    {% for obj in filtered_list %}
                    <tr>
                        <td>{{obj.user.get_full_name}}, {{obj.user.id}}</td>
                        <td>{{obj.price.name}}, {{obj.price.price_chf}}</td>
                        <td>{{obj.get_status_display}}</td>
                        <td>{{obj.invoice.get_status_display}}</td>
                        <td>{{obj.invoice.pay_till|date:'d.m'}}</td>
                        <td>{{obj.attendance.count_attendance}}</td>
                        <td><a href="{% url 'booking_update' obj.pk %}?event={{request.GET.event}}&event__time_locations={{request.GET.event__time_locations}}"><i class="fas fa-edit"></i></a>
                    </tr>
                    {% endfor%}
                </tbody>
            </table>
        </div>

        <hr>

        <div class="card card-body bg-light">
            <h4>Costs</h4>
            <div class="row">
                <div class="form-group col-sm-4 col-md-3">
                    {{ form.related_rent.label_tag }}
                    {% render_field form.related_rent class="form-control" %}
                </div>
                <div class="form-group col-sm-4 col-md-9">
                    {{ form.direct_costs.label_tag }}
                    {% render_field form.direct_costs class="form-control" %}
                </div>
            </div>
        </div>

        <hr>

        <div class="card card-body bg-light">
            <h4><b>Only real revenue</b> should be set, <b>no "expected revenue"</b>.</h4>
            <hr>
            <h4>Revenue</h4>
            <div class="row">
                <div class="form-group col-sm-4 col-md-3">
                    {{ form.direct_revenue.label_tag }}
                    {% render_field form.direct_revenue class="form-control" %}
                </div>
                <div class="form-group col-sm-4 col-md-3">
                    {{ form.fix_profit.label_tag }}
                    {% render_field form.fix_profit class="form-control" %}
                </div>
                <div class="form-group col-sm-4 col-md-3">
                    {{ form.admin_profit.label_tag }}
                    {% render_field form.admin_profit class="form-control" %}
                </div>
                <div class="form-group col-sm-4 col-md-3">
                    {{ form.partner_profit.label_tag }}
                    {% render_field form.partner_profit class="form-control" %}
<script type="text/javascript">
    window.onload = function () {

        var direct_costs = document.getElementsByName('direct_costs')[0];
        var old_direct_costs = readSel(direct_costs);

        function readSel(direct_costs) {
            var result = [];
            var options = direct_costs && direct_costs.options;
            var opt;

            for (var i=0, iLen=options.length; i<iLen; i++) {
                opt = options[i];
                if (opt.selected) {
                    result.push(opt.value);
                }
            }

            var direct_costs_sum = 0;

            for (var i=0, rLen=result.length; i < rLen; i++) {
                opt = result[i];
                opt = opt.split(' ');
                opt = parseInt(opt[1]);
                direct_costs_sum += opt;
            }

            return direct_costs_sum
        }

        document.getElementsByName("related_rent")[0].addEventListener('change', doCorrect, false);
        document.getElementsByName("fix_profit")[0].addEventListener('change', doCorrect, false);
        document.getElementsByName("direct_costs")[0].addEventListener('change', doCorrect, false);

        function doCorrect() {
            //Old Values
            var admin_profit = parseFloat(document.getElementsByName("admin_profit")[0].defaultValue);
            var partner_profit = parseFloat(document.getElementsByName("partner_profit")[0].defaultValue);
            var rent = parseFloat(document.getElementsByName("related_rent")[0].defaultValue);
            var fix = parseFloat(document.getElementsByName("fix_profit")[0].defaultValue);
            var direct_costs = old_direct_costs;

            // New Values
            var new_rent = parseFloat(document.getElementsByName("related_rent")[0].value);
            var new_fix = parseFloat(document.getElementsByName("fix_profit")[0].value);
            var new_direct_costs = readSel(document.getElementsByName("direct_costs")[0]);

            // Differences
            var diff_rent = new_rent - rent;
            var diff_fix = new_fix - fix;
            var diff_direct_costs = new_direct_costs - direct_costs;
            var total_diff = diff_fix + diff_rent + diff_direct_costs;

            // Proportional
            var new_admin_profit = admin_profit - parseFloat(0.25 * total_diff.toFixed(2));
            var new_partner_profit = partner_profit - parseFloat(0.75 * total_diff.toFixed(2));

            document.getElementsByName('admin_profit')[0].value = new_admin_profit.toFixed(2);
            document.getElementsByName('partner_profit')[0].value = new_partner_profit.toFixed(2);

        }
    }

</script>
                </div>
            </div>
            <button type="submit" class="btn btn-danger">
            <i class="fas fa-edit"></i> Update
           </button>
        </div>
    </form>
{% endblock %}
