{% extends "booking/base_bs.html" %}
{% block head_title%}Create{% endblock %}
{% load widget_tweaks %}
{% block content %}

    <div class="card card-body bg-light">
        <h4>Step 0 - Preparation</h4>
        <div class="row">
            <div class="col-md-12">
                · Do and check for additional Costs Invoices
            </div>
        </div>
    </div>

    <hr>

    <form method="GET">
        <div class="card card-body bg-light">
            <h4>Step 1 - Select Event and its Time Location</h4>
            <div class="row">
                <div class="form-group col-sm-4 col-md-6">
                {{ book_filter.form.event.label_tag }}
                {% render_field book_filter.form.event class="form-control" %}
                </div>
                <div class="form-group col-sm-4 col-md-6">
                {{ book_filter.form.event__time_locations.label_tag }}
                {% render_field book_filter.form.event__time_locations class="form-control" %}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">
            <i class="fas fa-search"></i> Search
            </button>
        </div>
    </form>

    <hr>

    <form method="POST">{% csrf_token %}
        <div class="card card-body bg-light">
            <h4>Step 2 - Select Teachers</h4>
            <hr>
            <h4> General Info </h3>
            <div class="row">
                <div class="form-group col-sm-4 col-md-4">
                    {{ form.event.label_tag }}
                    {% render_field form.event class="form-control" %}
                </div>
                <div class="form-group col-sm-4 col-md-4">
                    {{ form.time_location.label_tag }}
                    {% render_field form.time_location class="form-control" %}
                </div>
                <div class="form-group col-sm-4 col-md-4">
                    {{ form.teachers.label_tag }}
                    {% render_field form.teachers class="form-control" %}
                </div>
            </div>
        </div>

        <hr>

        <div class="card card-body bg-light">
            <h4>Step 3 - Check and if errors correct <b>and refresh</b></h4>
            <hr>
            <table class="table table-hover table-borderless">
                <thead>
                    <th>#</th>
                    <th>Name</th>
                    <th>Option</th>
                    <th>Book</th>
                    <th>Invoice</th>
                    <th>Pay Till</th>
                    <th>Attendances</th>
                    <th>Edit Book</th>
                </thead>
                <tbody>
                    {% for obj in filtered_list %}
                    <tr>
                        <td>{{obj.user.id}}</td>
                        <td>{{obj.user.get_full_name}}</td>
                        <td>{{obj.price.name}}</td>
                        <td>{{obj.get_status_display}}</td>
                        <td>{{obj.invoice.get_status_display}}</td>
                        <td>{{obj.invoice.pay_till}}</td>
                        <td>{{obj.attendance.count_attendance}}</td>
                        <td><a href="{% url 'booking_update' obj.pk %}?event={{request.GET.event}}&event__time_locations={{request.GET.event__time_locations}}"><i class="fas fa-edit"></i></a>
                    </tr>
                    {% endfor%}
                </tbody>
            </table>
        </div>

        <hr>

        <div class="card card-body bg-light">
            <h4>Step 4 - Rent adjust in Location. Only select <b>direct related</b> costs</h4>
            <hr>
            <h4>Costs</h4>
            <div class="row">
                <div class="form-group col-sm-4 col-md-3">
                    {{ form.related_rent.label_tag }}
                    {% render_field form.related_rent class="form-control" %}
                </div>
                <div class="form-group col-sm-4 col-md-9">
                    {{ form.direct_costs.label_tag }}
                    {% render_field form.direct_costs class="form-control" %}
                </div>
            </div>
        </div>

        <hr>

        <div class="card card-body bg-light">
            <h4>Step 5 - Only <b>real revenue</b> should be set, no "expected" one.</h4>
            <hr>
            <h4>Revenue</h4>
            <div class="row">
                <div class="form-group col-sm-4 col-md-3">
                    {{ form.direct_revenue.label_tag }}
                    {% render_field form.direct_revenue class="form-control" %}
                </div>
                <div class="form-group col-sm-4 col-md-3">
                    {{ form.fix_profit.label_tag }}
                    {% render_field form.fix_profit class="form-control" %}
                </div>
                <div class="form-group col-sm-4 col-md-3">
                    {{ form.acrolama_profit.label_tag }}
                    {% render_field form.acrolama_profit class="form-control" %}
                </div>
                <div class="form-group col-sm-4 col-md-3">
                    {{ form.teachers_profit.label_tag }}
                    {% render_field form.teachers_profit class="form-control" %}
<script type="text/javascript">
    window.onload = function () {

        var dc = document.getElementsByName('direct_costs')[0];
        var old_dc = readSel(dc);

        function readSel(dc) {
            var result = [];
            var options = dc && dc.options;
            var opt;

            for (var i=0, iLen=options.length; i<iLen; i++) {
                opt = options[i];
                if (opt.selected) {
                    result.push(opt.value);
                }
            }

            var sum = 0;

            for (var i=0, rLen=result.length; i < rLen; i++) {
                opt = result[i];
                opt = opt.split(' ');
                opt = parseInt(opt[1]);
                sum += opt;
            }

            return sum
        }

        document.getElementsByName("related_rent")[0].addEventListener('change', doCorrect, false);
        document.getElementsByName("fix_profit")[0].addEventListener('change', doCorrect, false);
        document.getElementsByName("direct_costs")[0].addEventListener('change', doCorrect, false);

        function doCorrect() {
            //Old Values
            var ap = parseFloat(document.getElementsByName('acrolama_profit')[0].defaultValue);
            var tp = parseFloat(document.getElementsByName('teachers_profit')[0].defaultValue);
            var rent = parseFloat(document.getElementsByName('related_rent')[0].defaultValue);
            var fix = parseFloat(document.getElementsByName('fix_profit')[0].defaultValue);
            var dc = old_dc;

            // New Values
            var new_rent = parseFloat(document.getElementsByName('related_rent')[0].value);
            var new_fix = parseFloat(document.getElementsByName('fix_profit')[0].value);
            var new_dc = readSel(document.getElementsByName('direct_costs')[0]);

            // Differences
            var diff_rent = new_rent - rent;
            var diff_fix = new_fix - fix;
            var diff_dc = new_dc - dc;
            var abs_diff = diff_fix + diff_rent + diff_dc;

            // Proportional
            var new_ap = ap - parseFloat(0.25 * abs_diff.toFixed(2));
            var new_tp = tp - parseFloat(0.75 * abs_diff.toFixed(2));

            document.getElementsByName('acrolama_profit')[0].value = new_ap.toFixed(2);
            document.getElementsByName('teachers_profit')[0].value = new_tp.toFixed(2);

        }
    }

</script>
                </div>
            </div>
            <button type="submit" class="btn btn-danger">
            <i class="fas fa-edit"></i> Create
           </button>
        </div>
    </form>
{% endblock %}
