{% load static %}
<!-- About -->
    <div id="about" class="section">
        <div class="block content-1170 center-relative">
            <div class="section-title-holder left green">
                <div class="section-num green">
                    <span>
                            <i class="fas fa-flask"></i>
                    </span>
                </div>
                <h2 class="entry-title">ABOUT</h2>
            </div>
            <div class="section-content-holder right">
                <div class="content-wrapper">
                    <div class="content-title-holder">
                        <p class="content-title">LAMAS</p>
                    </div>
                    <div class="one_half ">
                            {% for obj in about_general %}
                            {{ obj.description|safe }}
                            {%endfor%}
                    </div>
                    <div class="one_half last ">
                        {% for obj in about_date %}
                        <span style="color: #e54b76;"><strong>{{obj.yearstart}}{% if obj.end %} -{{obj.yearend}}{% endif %}</strong></span> <span style="color:#727190;i"><em> {{obj.description}}</em></span><br>
                        {% endfor %}
                    </div><div class="clear"></div>
                    <br>
                    <br>
                </div>
                <div class="full-width ">
                    <script>
                        var aboutImage_speed = "500";
                        var aboutImage_auto = "false";
                        var aboutImage_hover = "true";
                    </script>
                    <div class="image-slider-wrapper relative img aboutImage">
                        <a id="aboutImage_next" class="image_slider_next" href="#"></a>
                        <div class="caroufredsel_wrapper">
                                <ul id="aboutImage" class="image-slider slides">{% for obj in about_image %}
                                        <li><img src="{{obj.image.url}}"  alt=""></li> {% endfor%}
                                </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <!-- About Member -->
                    <script>
                        var aboutmember_speed = "2000";
                        var aboutmember_auto = "true";
                        var aboutmember_hover = "false";
                    </script>
                    <div class="image-slider-wrapper relative team team1">
                        <!-- Next Arrow -->
                        <a id="aboutmember_next" class="image_slider_next" href="#"></a>
                        <div class="caroufredsel_wrapper">
                            <ul id="aboutmember" class="image-slider slides">
                                {% for obj in about_content %}
                                <li>
                                    <div class="member-content-holder">
                                            <h4 class="member-name">{{ obj.name }}</h4>
                                            <p class="member-position">{{ obj.position}}</p>
                                            <div class="member-content">{{ obj.content|safe }}<br></div>
                                    </div>
                                    <div class="member-image-holder">
                                            <img src="{{obj.image.url}}" alt="">
                                    </div>
                                    <div class="clear"></div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>   <!-- end full-width div -->
            </div>
            <div class="clear"></div>
        </div>
    </div>
