<!DOCTYPE HTML>{% load static %}{% load analytical %}
<html lang="en-US">
    <head>
        {% analytical_head_top %}
        <title>Acrolama || {% block head_title %}{% endblock%}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="description" content="Acrolama is a Acrobatic and Acroyoga (Acro yoga) team based in Zürich Switzerland. They teach and organize several weekly Acroyoga & Acro classes, Acro Trainings Camps, Yoga Retreats and Workshops. They host the Winter Acro Festival in Lenk and the Urban Acro Fesitval Zürich."/>
        <meta name="keywords" content="acroyoga Zurich, acro yoga zürich, danica wagner, acroyoga bern, adrian garate, acro yoga, acroyoga, acroyoga switzerland, acro schweiz, swiss acro, yoga zürich, acrolama, winter acro festival, urban acro festival, acroyoga festival, acro yoga festival, acro lama, acro coaching, acro classes, acro yoga class, acro yoga workshop" />
        <meta name="author" content="Adrian Garate" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
        {% include 'snippets/css.html' %}
        {% analytical_head_bottom %}
    </head>
    <body>
        {% if messages %}
            {% for message in messages %}
            <div class="alert-box {{ message.tags }}"><span>{{ message.tags }}: </span>{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% analytical_body_top %}
        {% block content %}{% endblock %}
        {% include 'snippets/js.html' %}{% analytical_body_bottom %}
    </body>
</html>
