<!-- Contact -->
        <div id="contact" class="section">
            <div class="block content-1170 center-relative">
                <div class="section-title-holder right">
                    <div class="section-num">
                        <span>
                                &nbsp;<i class="fas fa-comments"></i>
                        </span>
                    </div>
                    <h2 class="entry-title">Newsletter</h2>
                </div>
                <div class="section-content-holder left pink">
                    <div class="content-wrapper">
                        <div class="one_half ">
                                <p>Ones every 2-3 months we're going to relace a newsletter with the latest community relevant <strong><span style="color:#f3d216">News, Classes, Festivals, Workshops and Special Events</span></strong> we're organizing or recommending.</p>
                        </div>
                        <div class="one_half last">
                            <div class="contact-form">
                              {% if form.errors.non_field_errors %}
                                        {{ form.errors.non_field_errors }}
                                        {% endif %}
                                        <form method="post">
                                                {%csrf_token%}
                                                {{form.as_p}}
                                                <p><input value="Submit" type="submit"></input></p>
                                        </form>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <!--  <div class="full-width">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d4274.290564544589!2d-75.2952832049782!3d40.753669641460846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2srs!4v1444506658649" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>-->
                </div>
                <div class="clear"></div>
            </div>
        </div>

