<!-- Footer -->
<footer id="footer" class="section">
  <section>
    <h2>General Informations</h2>
    <p>Why lama? Cause like, who doesn't like lamas!?.<br><br>
    </p>
    <ul class="actions">
      <li><a href="/info/prices/" class="button">Pricing</a></li>
      <li><a href="/faq/" class="button">FAQ</a></li>
    </ul>
  </section>
  <section>
    <h2>Follow Us:</h2>
    <dl class="alt">
      <dt>Whatsapp</dt>{% for obj in whatsapp %}
      <dd><a href="{{obj.link}}">Acrolama Announcements</a></dd>{% endfor %}
      <dt>Email</dt>
      <dd><a href="mailto:acrolama@acrolama.com">acrolama@acrolama.com</a></dd>
    </dl>
    <ul class="icons social-footer">
      <li><a href="https://facebook.com/acrolama/"><span class="icon fab fa-facebook label alt"></span></a></li>
      <li><a href="https://instagram.com/acrolama/"><span class="icon fab fa-instagram label alt"></span></a></li>
      <li><a href="https://www.youtube.com/channel/UC9_46R-RgJlkN4DghDug3Kw/"><span class="icon fab fa-youtube label alt"></span></a></li>
    </ul>
  </section>
  <p class="copyright">© 2019 All rights reserved.| Created by Adrian Garate | Pictures by <a href="http://mad-motions.tumblr.com/" target="_blank">Matthias Bleich</a> | Template by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
</footer>
