{% load static %}
<!-- News -->
        <div id="next" class="section">
            <div class="block content-1170 center-relative">
                <div class="section-title-holder right">
                    <div class="section-num">
                        <span>
                                <i class="fas fa-stopwatch"></i>
                        </span>
                    </div>
                    <h2 class="entry-title">NEXT</h2>
                </div>
                <div class="section-content-holder left green">
                    <div class="content-wrapper">
                        <div class="blog-holder block center-relative">
                            {% for obj in event %}
                            <article class="relative blog-item-holder center-relative">
                                <div class="num">
                                        <i class="{{obj.type_event}}"></i>
                                </div>
                                <div class="info">
                                        <div class="author vcard "><a href="#">{{obj.get_type_event_display}} - {{obj.city_event}}</a></div>
                                    <div class="cat-links">
                                        <ul>
                                                <li><a href="#">{{obj.get_datestart}}{{obj.get_dateend}}</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <h3 class="entry-title">
                                        <a href="#">{{obj.title_event}}</a>
                                </h3>
                                <div class="clear"></div>
                            </article>
                            {% endfor %}
                            <div class="latest-post-bottom-text">
                                <a href="#">CALENDAR</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <!-- CAROUSEL -->
            <div class="block content-1170 center-relative">
                <div class="extra-content-left">
                    <script>
                        var text1_speed = "1000";
                        var text1_auto = "true";
                        var text1_hover = "true";
                    </script>
                    <div class="text1 testimonial-slider-holder slider-holder">
                        <div class="caroufredsel_wrapper">
                            <ul id="text1" class="slides testimonial">
                                <li style='height: 200px;'>
                                    <div class="testimonial-content">
                                        <p class="testimonial-text">The goal is not to be better than the other man, but your previous self.</p>
                                        <p class="testimonial-author">DALAI LAMA</p>
                                    </div>
                                    <!--<div class="clear"></div>-->
                                </li>
                                <li style='height: 200px;'>
                                    <div class="testimonial-content">
                                        <p class="testimonial-text">Apropos 'Not my Circus, not my Monkey', we don't want Monkeys in the Circus.</p>
                                        <p class="testimonial-author">SOME OTHER LAMA</p>
                                    </div>
                                    <!--<div class="clear"></div>-->
                                </li>
                                <li style='height: 200px;'>
                                    <div class="testimonial-content">
                                        <p class="testimonial-text"> The more you practise, the luckier you get.</p>
                                        <p class="testimonial-author">SOMEONE TRYING TO BE FUNNY</p>
                                    </div>
                                    <div class="clear"></div>
                                </li>
                                <li style='height: 200px;'>
                                    <div class="testimonial-content">
                                        <p class="testimonial-text">Damn everything but the circus.</p>
                                        <p class="testimonial-author">CORITA KENT</p>
                                    </div>
                                    <div class="clear"></div>
                                </li>
                            </ul>
                        </div>
                        <a id="text1_next" class="carousel_text_next right" style="" href="#"></a>
                        <!--<div class="clear"></div>-->
                    </div>
                </div>
            </div>
        </div>
