{% extends "base.html" %}
{% block content %}

<div class="single-portfolio">
    <article id="portfolio-2" class="section portfolio">
        <div class="center-relative content-1170">
            <div class="entry-content">
                <div class="content-wrap relative">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="notification">
                                <div class="content">
                                    <div class="identifier"></div>
                                    <div class="text"> {{ message }} </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                  <form method="POST">
                    {% csrf_token %}
                      {{form.as_p}}
                      <input value="Sign Up" type="submit"></input>
                  </form>
                      Already have and account? <a class="ml-2" href="#">Sign In</a>
                </div>
            </div>
        </div>
    </article>
</div>
{% endblock content %}

