{% load widget_tweaks %}{% load booking_tags %}
    <div class="card card-body bg-light">
        <h4>Filter</h4>
        <form method="GET">
            <div class="row">
                <div class="form-group col-sm-4 col-md-2">
                {{ book_filter.form.magic.label_tag }}
                {% render_field book_filter.form.magic class="form-control" %}
                </div>
                <div class="form-group col-sm-4 col-md-4">
                {{ book_filter.form.user.label_tag }}
                {% render_field book_filter.form.user class="form-control" %}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4 col-md-2">
                {{ book_filter.form.status.label_tag }}
                {% render_field book_filter.form.status class="form-control" %}
                </div>
                <div class="form-group col-sm-4 col-md-8">
                {{ book_filter.form.event.label_tag }}
                {% render_field book_filter.form.event class="form-control" %}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-2 col-md-2">
                {{ book_filter.form.start_date.label_tag }}
                {% render_field book_filter.form.start_date class="datepicker form-control" %}
                </div>
                <div class="form-group col-sm-2 col-md-2">
                {{ book_filter.form.end_date.label_tag }}
                {% render_field book_filter.form.end_date class="datepicker form-control" %}
                </div>
                <div class="form-group col-sm-8 col-md-6">
                {{ book_filter.form.times.label_tag }}
                {% render_field book_filter.form.times class="form-control" %}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">
            <i class="fas fa-search"></i> Search
            </button>
        </form>
    </div>
<hr>
<table class="table table-hover table-borderless">
    <thead>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
    </thead>
    <tbody>
        {% for obj in page_obj %}
        {% if obj.user %}
        <tr>
            <td>{{obj.user.pk}}</td>
            <td>{{obj.user.get_full_name}}</td>
            <td>{{obj.user.email}}</td>
            <td>{{obj.user.phone}}</td>
        </tr>
        {% else %}
        <tr>
            <td>{{obj.bookuserinfo.pk}}</td>
            <td>{{obj.bookuserinfo.first_name}}{{obj.bookuserinfo.last_name}}</td>
            <td>{{obj.bookuserinfo.email}}</td>
            <td>{{obj.bookuserinfo.phone}}</td>
        </tr>
        {% endif %}
        {% endfor%}
    </tbody>
</table>
