{% extends "basefest.html" %}
{% block content %}
{% load static %}
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
                            <span class="logo"><img src="{% static "fest/images/logo_vek.svg"%}" alt="" /></span>
						<h1>Winter Acro Festival</h1>
						<p>A New Acro Gathering in the Swiss Mountains</br>
                        8 - 11 of March 2018</br>
						Register <a href="fest/form/">HERE</a></p>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="#intro" class="active">Introduction</a></li>
                            <li><a href="#first">General Information</a></li>
                            <!--<li><a href="#second">Plan</a></li>-->
							<li><a href="fest/form/">Register</a></li>
						</ul>
					</nav>
				<!-- Main -->
					<div id="main">
						<!-- Introduction -->
							<section id="intro" class="main">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>What's it all about</h2>
										</header>
                                            <p>
                                                A New Acro Festival has born in the Swiss Mountains!</br> From <u>8 till 11 of March</u> we'd like to train, play and have fun with all acrobats, therapists, athletes and teachers in this four days. Since we're in the Mountais we'll add some Snow related activities. And to relax, after hard training days, there will be a evening to enjoy some Warm out-door Whirlpool.
                                            </p>
										<ul class="actions">
                                                <li><a href="fest/form/" class="button">Register</a></li>
										</ul>
									</div>
									<span class="image"><img src="{% static "fest/images/pic01.jpg"%}" alt="" /></span>
								</div>
							</section>
						<!-- First Section -->
							<section id="first" class="main special">
								<header class="major">
									<h2>General Information</h2>
								</header>
								<ul class="features">
									<li>
										<span class="icon major style1 fa-bed"></span>
										<h3>Accomodation</h3>
										<p>We have a cosy holiday house with dormitories for 50 People. *Not included in daily tickets</p>
									</li>
                                    <li>
										<span class="icon major style3 fa-cutlery"></span>
										<h3>Food</h3>
                                        <p>Main dishes, healthy snacks and fruits are all Vegan and included. We have a main Cook but <u>there will be some help asked of everyone.</u></p>
                                        </li>
									<li>
										<span class="icon major style5 fa-cog"></span>
										<h3>Workshops</h3>
										<p> There will be several rounds of Workshops and a constant Jam. Experience in Acro is necessary, there will be no begginer Workshops but alot of friendly people. Full Schedule soon.</p>
									</li>
                                    <li>
										<span class="icon major style6 fa-snowflake-o"></span>
										<h3>Special Events</h3>
										<p>On friday noon ther's a out-door training up on the mountain in the ski resort. (If the weather is good <i class="fa fa-hand-o-left" aria-hidden="true"></i>). There will be a Warm out-door Pool to relax Friday and Saturday evening.</p>
									</li>
                                    <li>
										<span class="icon major style4 fa-map-marker"></span>
										<h3>Location</h3>
										<p>The hole event Takes place in Lenk im simmental Switzerland. A complete description on how to get there can be found <a href="fest/location/">HERE</a></p>
                                        </li>
									<li>
										<span class="icon major style2 fa-money"></span>
										<h3>Prices</h3>
                                        <p> We have Passes based on the amout of days you stay at the festival. All of them include: Accomodation, Food, Workshops, Special Events, etc...</br>
                                <u>Daily Tickets</u> on the other hand <u>don't include breakfast</u>. More information, like list of prices and conditions go <a href="fest/prices/">HERE</a>
                                </ul>
                                <footer class="major">
                                    <ul class="actions">
                                        <li><a href="generic.html" class="button">Read Enought? Register HERE</a></li>
                                    </ul>
                                </footer>
							</section>
                            <!--
							<section id="second" class="main special">
								<header class="major">
									<h2>Ipsum consequat</h2>
									<p>Donec imperdiet consequat consequat. Suspendisse feugiat congue<br />
									posuere. Nulla massa urna, fermentum eget quam aliquet.</p>
								</header>
								<ul class="statistics">
									<li class="style1">
										<span class="icon fa-code-fork"></span>
										<strong>5,120</strong> Etiam
									</li>
									<li class="style2">
										<span class="icon fa-folder-open-o"></span>
										<strong>8,192</strong> Magna
									</li>
									<li class="style3">
										<span class="icon fa-signal"></span>
										<strong>2,048</strong> Tempus
									</li>
									<li class="style4">
										<span class="icon fa-laptop"></span>
										<strong>4,096</strong> Aliquam
									</li>
									<li class="style5">
										<span class="icon fa-diamond"></span>
										<strong>1,024</strong> Nullam
									</li>
								</ul>
								<p class="content">Nam elementum nisl et mi a commodo porttitor. Morbi sit amet nisl eu arcu faucibus hendrerit vel a risus. Nam a orci mi, elementum ac arcu sit amet, fermentum pellentesque et purus. Integer maximus varius lorem, sed convallis diam accumsan sed. Etiam porttitor placerat sapien, sed eleifend a enim pulvinar faucibus semper quis ut arcu. Ut non nisl a mollis est efficitur vestibulum. Integer eget purus nec nulla mattis et accumsan ut magna libero. Morbi auctor iaculis porttitor. Sed ut magna ac risus et hendrerit scelerisque. Praesent eleifend lacus in lectus aliquam porta. Cras eu ornare dui curabitur lacinia.</p>
								<footer class="major">
									<ul class="actions">
										<li><a href="generic.html" class="button">Learn More</a></li>
									</ul>
								</footer>
							</section>

							<section id="cta" class="main special">
								<header class="major">
									<h2>Congue imperdiet</h2>
									<p>Donec imperdiet consequat consequat. Suspendisse feugiat congue<br />
									posuere. Nulla massa urna, fermentum eget quam aliquet.</p>
								</header>
								<footer class="major">
									<ul class="actions">
										<li><a href="generic.html" class="button special">Get Started</a></li>
										<li><a href="generic.html" class="button">Learn More</a></li>
									</ul>
								</footer>
                            </section>-->
                    </div>
                    {% include 'snippets/footer.html' %}
			</div>
{% endblock %}
