{% extends "basefest.html" %}
{% block content %}
{% load static %}
<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1>Lenk im Simmental</h1>
						<p>How to get there</p>
					</header>
                    {% include 'snippets/navnothome.html' %}
				<!-- Main -->
					<div id="main">
						<!-- Content -->
							<section id="content" class="main">
                                    <span class="image main"><img src="{% static "fest/images/pic04.jpg"%}" alt="" /></span>
								<h2>By Train:</h2>
                                <p>The wonderful destination of Lenk lays at the end of a beautiful and varied train ride from either Bern or Montreux.</br>
                                Only one train change from Bern to Lenk.</br>
                                The Lötschberger train takes you hourly from Bern directly to Zweisimmen, where you’ll change trains to catch the 20 minute regional train to Lenk.</p>
                                <h3>Approximate Travel Times by train</h3>
                                <ul>
									<li>Zurich – Berne – Lenk: 2h 30 min</li>
									<li>Basel – Berne – Lenk: 2h 15 min</li>
									<li>Geneva – Lausanne – Montreux – Lenk: 3h 30 min</li>
									<li>Berne/Belp – Lenk: 1h 45 min</li>
								</ul>
								<h3>Tickets</h3>
                                <p> Tickets can be bought in the Swiss Main Trains system <a href="https://www.sbb.ch/">SBB</a></br>
                                Prices are very relative to How Soon, Time of Train. As a general recommendation <u>book with time!</u></p>
                                <h2>By Car:</h2>
                                <p> Traveling on the A6 motorway Bern-Thun, take the Wimmis/Zweisimmen exit through the Simmenfluh Tunnel, on the other side of which begins your journey up the Simme River Valley. The main road in the valley, the Simmentalstrasse.</br>
                                Coming from Bulle and the Canton of Freiburg, one can reach Lenk via Charmey by traveling over the Jaunpass into the Simmental (Boltigen) or by traveling via Château d’Oex-Saanen-Zweisimmen.</p>
                                <h3>Approximate Travel Times by car</h3>
                                <ul>
                                    <li>Berne – Lenk: 1h 15min</li>
                                    <li>Basel – Lenk: 2h</li>
                                    <li>Geneva – Lenk: 2h 15min</li>
                                    <li>Zurich – Lenk: 2h 30Coming</li>
								</ul>
							</section>
					</div>
                    {% include 'snippets/footer.html' %}
			</div>
{% endblock %}
