{% extends "basefest.html" %}
{% block content %}
{% load static %}
<!-- Wrapper -->
            <div id="wrapper">
                <!-- Header -->
                    <header id="header">
                        <h1>Lenk im Simmental</h1>
                        <p>How to get there and where will we sleep</p>
                    </header>
                    {% include 'snippets/navnothome.html' %}
                <!-- Main -->
                    <div id="main">
                        <!-- Content -->
                            <section id="accommodation" class="main">
                                    <span class="image main"><img src="{% static "fest/images/pic04.jpg"%}" alt="" /></span>
                                    <!-- Table -->
									<section>
                                      {% for obj in workshop%}
                                      <h2>{obj.day}</h2>
                                      {% endfor%}
										<h3>Workshops</h3>
										<div class="table-wrapper">
											<table>
												<thead>
													<tr>
														<th>Time</th>
														<th>Teachers</th>
														<th>Topic</th>
                                                        <th>Prerequisites</th>
													</tr>
												</thead>
                                                {% for obj in workshop%}
												<tbody>
													<tr>
                                                            <td>{obj.time}</td>
                                                            <td>{obj.teachers}</td>
                                                            <td>{obj.topica}</td>
													</tr>
												</tbody>
                                                {% endfor  %}
												<tfoot>
													<tr>
														<td colspan="2"></td>
														<td>100.00</td>
													</tr>
												</tfoot>
											</table>
										</div>
                                <footer class="major">
                                    <ul class="actions">
                                        <li><a href="/" class="button">Back</a></li>
                                    </ul>
                                </footer>
                            </section>
                    </div>
                    {% include 'snippets/footer.html' %}
            </div>
{% endblock %}
