{% extends "booking/base_bs.html" %}
{% block head_title%}Accounting | Update{% endblock %}
{% load widget_tweaks %}
{% block content %}
<form method="POST">{% csrf_token %}
    <div class="card card-body bg-light">
        <h4>Invoice N°{{object.pk}} of <a href="{% url 'booking_update' object.book.id %}">Booking N°{{object.book.id}}</a> - {% if object.book %}{{object.book.user.get_full_name}}{% else %}{{object.partner.name}}{% endif %} - Pay till: {{object.pay_till|date:'d M.'}} CHF {{object.to_pay}}.-</h4>
        <div class="row">
            <div class="form-group col-sm-2 col-md-2">
              {{ form.paid.label_tag }}
              {% render_field form.paid class="form-control" %}
            </div>
            <div class="form-group col-sm-3 col-md-3">
              {{ form.pay_date.label_tag }}
              {% render_field form.pay_date class="form-control" %}
            </div>
            <div class="form-group col-sm-4 col-md-5">
              {{ form.methode.label_tag }}
              {% render_field form.methode class="form-control" %}
            </div>
            <div class="form-group col-sm-4 col-md-2">
              {{ form.status.label_tag }}
              {% render_field form.status class="form-control" %}
            </div>
        </div>
        <hr>
        <button type="submit" name="update" class="btn btn-danger">
            <i class="fas fa-edit"></i> DANGER - Update
        </button>
    </div>
</form>
{% include "accounting/snippets/accounting_filter.html" %}
{% endblock %}
