{% load widget_tweaks %}{% load booking_tags %}
    <div class="card card-body bg-light">
        <h4>Filter</h4>
        <form method="GET">
            <div class="row">
                <div class="form-group col-sm-4 col-md-2">
                {{ attendance_filter.form.id.label_tag }}
                {% render_field attendance_filter.form.id class="form-control" %}
                </div>
                <div class="form-group col-sm-4 col-md-3">
                {{ attendance_filter.form.book__user.label_tag }}
                {% render_field attendance_filter.form.book__user class="form-control" %}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4 col-md-8">
                {{ attendance_filter.form.book__event.label_tag }}
                {% render_field attendance_filter.form.book__event class="form-control" %}
                </div>
                <div class="form-group col-sm-4 col-md-2">
                {{ attendance_filter.form.attendance_date.label_tag }}
                {% render_field attendance_filter.form.attendance_date class="datepicker form-control" %}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">
            <i class="fas fa-search"></i> Search
            </button>
        </form>
    </div>
<hr>
<table class="table table-hover table-borderless">
    <thead>
        <th>#</th>
        <th>Name</th>
        <th>Event</th>
        <th>Time Option</th>
        <th>Price Option</th>
        <th>Book Status</th>
        <th>Attd.</th>
    </thead>
    <tbody>
        {% for obj in page_obj %}{% if obj.book.status == "CA" %}
        <tr style="text-decoration: line-through;">{% else %}
        <tr>{% endif %}
            <td><a href="{% url 'attendance_update' obj.pk %}?{% pass_get_filter %}">{{obj.pk}}</a></td>
            <td>{{obj.book.get_user_name}}</td>
            <td>{{obj.book.event.title|truncatechars_middle:15}}</td>
            <td>
              {% for obj in obj.book.times.all %}
                {% if obj.regular_day %}
                  {{obj.get_regular_day_display|truncatechars:8}} {{obj.class_starttime|date:'G:i'}}
                {% else %}
                    {{obj.name|truncatechars:8}} {{obj.class_starttime|date:'G:i'}}
                {% endif %}
              {% endfor %}
            </td>
            <td>{{obj.book.price.name}}</td>
            <td>
                {% if obj.book.status == "PE" %}
                <span style="color: red;">{{obj.book.get_status_display}}</span>
                {% elif obj.book.status == "PA" %}
                <span style="color: green;">{{obj.book.get_status_display}}</span>
                {% else %}
                <span style="color: orange;">{{obj.book.get_status_display}}</span>
                {% endif %}
            </td>
            <td>{{obj.count_attendance}}/{{obj.count_dates}}</td>
        </tr>
        {% endfor%}
    </tbody>
</table>
