{% load widget_tweaks %}{% load booking_tags %}
<form method="get">
    <div class="card card-body bg-light">
        <h4>Filter</h4>
        <div class="row">
            <div class="form-group col-sm-4 col-md-2">
            {{ book_filter.form.id.label_tag }}
            {% render_field book_filter.form.id class="form-control" %}
            </div>
            <div class="form-group col-sm-4 col-md-3">
            {{ book_filter.form.user.label_tag }}
            {% render_field book_filter.form.user class="form-control" %}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4 col-md-2">
            {{ book_filter.form.status.label_tag }}
            {% render_field book_filter.form.status class="form-control" %}
            </div>
            <div class="form-group col-sm-4 col-md-8">
            {{ book_filter.form.event.label_tag }}
            {% render_field book_filter.form.event class="form-control" %}
            </div>
            <div class="form-group col-sm-4 col-md-2">
            {{ book_filter.form.event__level.label_tag }}
            {% render_field book_filter.form.event__level class="form-control" %}
            </div>
            <div class="form-group col-sm-2 col-md-2">
            {{ book_filter.form.start_date.label_tag }}
            {% render_field book_filter.form.start_date class="datepicker form-control" %}
            </div>
            <div class="form-group col-sm-2 col-md-2">
            {{ book_filter.form.end_date.label_tag }}
            {% render_field book_filter.form.end_date class="datepicker form-control" %}
            </div>
            <div class="form-group col-sm-8 col-md-6">
            {{ book_filter.form.times.label_tag }}
                <ul style=" list-style-type: none; max-height: 120px; overflow-y: auto;" >
                    {% for choice in book_filter.form.times %}
                    <li>
                        <label class="checkbox-inline">
                            {{ choice.tag }} {{ choice.choice_label }}
                        </label>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">
        <i class="fas fa-search"></i> Search
        </button>
    </div>
</form>

<hr>

<script language="Javascript">
    function toggle(source) {
        var checkboxes = document.querySelectorAll('input[name="check"]');
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i] != source)
                checkboxes[i].checked = source.checked;
        }
    }
</script>

<form action="{% url 'booking_list' %}" method="POST">{% csrf_token %}
    <table class="table table-hover table-borderless">
        <thead>
            <tr>
                <th><input type="checkbox" onClick="toggle(this);"></th>
                <th>#</th>
                <th>Date</th>
                <th>Event</th>
                <th>Time</th>
                <th>Price</th>
                <th>Status</th>
                <th>User</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in page_obj %}{% if obj.status == "CA" %}
            <tr style="text-decoration: line-through;">{% else %}
            <tr>{% endif %}
                <td><input type="checkbox" name="check" value="{{obj.id}}"></td>
                <td><a href="{% url 'booking_update' obj.pk %}?{% pass_get_filter %}">{{obj.pk}}</a></td>
                <td>{{obj.booked_at|date:'d.m'}}</td>
                <td>{% if event.category == 'CY' %}<a href="{% url 'class' obj.event.slug %}">{{obj.event.title}}</a>{% else %}<a href="{% url 'event' obj.event.slug %}">{{obj.event.title}}</a>{% endif %}</td>
                <td>{% for obj in obj.times.all %}{{obj}}, {% endfor %}</td>
                <td>{{obj.price.name}}</td>
                <td>{% if obj.status == "PE" %}<span style="color: red;">{{obj.get_status_display}}</span>{% elif obj.status == "PA" %}<span style="color: green;">{{obj.get_status_display}}</span>{% else %}<span style="color: orange;">{{obj.get_status_display}}</span>{% endif %}</td>
                <td><a href="{% url 'contact_list' %}?user={{obj.user.id}}">{{obj.user.get_full_name}}</a></td>
            </tr>
            {% endfor%}
        </tbody>
    </table>
    <button type="submit" name="create" class="btn btn-warning">
    <i class="fas fa-copy"></i> Duplicate Booking for next Cycle
    </button>
</form>
