{% load widget_tweaks %}{% load booking_tags %}
    <div class="card card-body bg-light">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="filter-tab" data-toggle="tab" href="#filter" role="tab" aria-controls="filter" aria-selected="true">Filter</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#create" role="tab" aria-controls="create" aria-selected="false">Create New</a>
              </li>
            </ul>
        </div>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="filter" role="tabpanel" aria-labelledby="filter-tab">
                <div class="card-body">
                    <form method="GET">
                        <div class="row">
                            <div class="form-group col-sm-4 col-md-2">
                            {{ book_filter.form.id.label_tag }}
                            {{ book_filter.form.id|addclass:"form-control" }}
                            </div>
                            <div class="form-group col-sm-4 col-md-3">
                            {{ book_filter.form.user.label_tag }}
                            {{ book_filter.form.user|addclass:"form-control" }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-4 col-md-2">
                            {{ book_filter.form.status.label_tag }}
                            {{ book_filter.form.status|addclass:"form-control" }}
                            </div>
                            <div class="form-group col-sm-4 col-md-8">
                            {{ book_filter.form.event.label_tag }}
                            {{ book_filter.form.event|addclass:"form-control" }}
                            </div>
                            <div class="form-group col-sm-4 col-md-2">
                            {{ book_filter.form.event__level.label_tag }}
                            {{ book_filter.form.event__level|addclass:"form-control" }}
                            </div>
                            <div class="form-group col-sm-2 col-md-2">
                            {{ book_filter.form.start_date.label_tag }}
                            {{ book_filter.form.start_date|addclass:"form-control datepicker" }}
                            </div>
                            <div class="form-group col-sm-2 col-md-2">
                            {{ book_filter.form.end_date.label_tag }}
                            {{ book_filter.form.end_date|addclass:"form-control datepicker" }}
                            </div>
                            <div class="form-group col-sm-8 col-md-6">
                            {{ book_filter.form.times.label_tag }}
                            {{ book_filter.form.times }}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">
                        <i class="fas fa-search"></i> Search
                        </button>
                    </form>
                </div>
            </div>
            <div class="tab-pane fade" id="create" role="tabpanel" aria-labelledby="create-tab">
                <div class="card-body">
                    <form action="{% url 'booking_list' %}" method="POST">{% csrf_token %}
                        <div class="row">
                            {{ bookcreate_form.non_field_errors }}
                            <div class="form-group col-sm-8 col-md-6">
                                {{ bookcreate_form.user.errors }}
                                {{ bookcreate_form.user.label_tag }}
                                {{ bookcreate_form.user}}
                              <span class="helptext">{{ bookcreate_form.user.help_text }}</span>
                            </div>
                            <div class="form-group col-sm-8 col-md-6">
                                {{ bookcreate_form.event.errors }}
                                {{ bookcreate_form.event.label_tag }}
                                {{ bookcreate_form.event }}
                              <span class="helptext">{{ bookcreate_form.event.help_text }}</span>
                            </div>
                            <div class="form-group col-sm-8 col-md-6">
                                {{ bookcreate_form.times.errors }}
                                {{ bookcreate_form.times.label_tag }}
                                {{ bookcreate_form.times|addclass:"form-control"  }}
                              <span class="helptext">{{ bookcreate_form.times.help_text }}</span>
                            </div>
                            <div class="form-group col-sm-8 col-md-6">
                                {{ bookcreate_form.price.errors }}
                                {{ bookcreate_form.price.label_tag }}
                                {{ bookcreate_form.price|addclass:"form-control"  }}
                              <span class="helptext">{{ bookcreate_form.price.help_text }}</span>
                            </div>
                        </div>
                            <div class="row">
                              <div class="col"><hr></div>
                              <div class="col-auto">Extern User Info</div>
                              <div class="col"><hr></div>
                            </div>

                        <div class="row">
                            {% if bookusercreate_form.non_field_errors %}
                            <div class="form-group col-sm-12 col-md-12">
                              {{ bookusercreate_form.non_field_errors }}
                            </div>
                            {% endif %}
                            <div class="form-group col-sm-8 col-md-6">
                                {{ bookusercreate_form.first_name.errors }}
                                {{ bookusercreate_form.first_name.label_tag }}
                                {{ bookusercreate_form.first_name|addclass:"form-control"  }}
                              <span class="helptext">{{ bookusercreate_form.first_name.help_text }}</span>
                            </div>
                            <div class="form-group col-sm-8 col-md-6">
                                {{ bookusercreate_form.last_name.errors }}
                                {{ bookusercreate_form.last_name.label_tag }}
                                {{ bookusercreate_form.last_name|addclass:"form-control"  }}
                              <span class="helptext">{{ bookusercreate_form.last_name.help_text }}</span>
                            </div>
                            <div class="form-group col-sm-8 col-md-6">
                                {{ bookusercreate_form.email.errors }}
                                {{ bookusercreate_form.email.label_tag }}
                                {{ bookusercreate_form.email|addclass:"form-control"  }}
                              <span class="helptext">{{ bookusercreate_form.first_name.help_text }}</span>
                            </div>
                            <div class="form-group col-sm-8 col-md-6">
                                {{ bookusercreate_form.phone.errors }}
                                {{ bookusercreate_form.phone.label_tag }}
                                {{ bookusercreate_form.phone|addclass:"form-control"  }}
                              <span class="helptext">{{ bookusercreate_form.phone.help_text }}</span>
                            </div>
                        </div>
                    <button type="submit" name="newbooking" class="btn btn-info">
                    <i class="fas fa-plus"></i> Create New
                    </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

<hr>

<script language="Javascript">
    function toggle(source) {
        var checkboxes = document.querySelectorAll('input[name="check"]');
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i] != source)
                checkboxes[i].checked = source.checked;
        }
    }
</script>

<form action="{% url 'booking_list' %}" method="POST">{% csrf_token %}
    <table class="table table-hover table-borderless">
        <thead>
            <tr>
                <th><input type="checkbox" onClick="toggle(this);"></th>
                <th>#</th>
                <th>Date</th>
                <th>Event</th>
                <th>Time</th>
                <th>Price</th>
                <th>Status</th>
                <th></th>
                <th>User</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in page_obj %}{% if obj.status == "CA" %}
            <tr style="text-decoration: line-through;">{% else %}
            <tr>{% endif %}
                <td><input type="checkbox" name="check" value="{{obj.id}}"></td>
                <td><a href="{% url 'booking_update' obj.pk %}?{% pass_get_filter %}">{{obj.pk}}</a></td>
                <td>{{obj.booked_at|date:"m.d"}}</td>
                <td>
                  {% if event.category == 'CY' %}
                  <a href="{% url 'class' obj.event.slug %}">{{obj.event.title|truncatechars_middle:15}}</a>
                  {% else %}
                  <a href="{% url 'event' obj.event.slug %}">{{obj.event.title|truncatechars_middle:15}}</a>
                  {% endif %}
                </td>
                <td>
                  {% for obj in obj.times.all %}
                    {% if obj.regular_day %}
                    {{obj.get_regular_day_display|truncatechars:8}} {{obj.class_starttime|date:'G:i'}}
                    {% else %}
                    {{obj.name|truncatechars:8}} {{obj.class_starttime|date:'G:i'}}
                    {% endif %}
                  {% endfor %}
                </td>
                <td>{{obj.price.name|truncatechars_middle:15}}</td>
                <td>
                    {% if obj.status == "PE" %}
                    <span style="color: red;">{{obj.get_status_display}}</span>
                    {% elif obj.status == "PA" %}
                    <span style="color: green;">{{obj.get_status_display}}</span>
                    {% else %}
                    <span style="color: orange;">{{obj.get_status_display}}</span>
                    {% endif %}
                </td>
                <td>
                    {% if obj.flags.comment and not obj.flags.response%}
                    <i style="color: red" class="far fa-envelope"></i>
                    {% elif obj.flags.comment and obj.flags.response %}
                    <i style="color: green" class="far fa-envelope"></i>
                    {% endif %}
                    {% if not obj.flags.user %}
                    <i class="fas fa-user-alt-slash"></i>
                    {% endif %}
                </td>
                <td><a href="{% url 'contact_list' %}?user={{obj.get_user_pk}}">{{obj.get_user_name}}</a></td>
            </tr>
            {% endfor%}
        </tbody>
    </table>
    <button type="submit" name="create" class="btn btn-warning">
    <i class="fas fa-copy"></i> Duplicate Booking for next Cycle
    </button>
</form>
